.speaker{
    background: rgb(9, 4, 75);
    color: white;
}
hr{
    border: 0 none #ffffff;
    border-top: 1px solid #ffffff;
    height: 1px;
    margin: 5px 0;
    display: block;
    clear: both;
}



.cajas{
    border: none;
    border-top: 2px solid #e61919;
    margin: 4px 0px 0px 0px ;
    color: white;
}

.cajadescription{
    border: none;
    border-left: 4px solid #01bb20;
    color: rgb(2, 2, 2);
    background: rgba(119, 235, 108, 0.397);
}

.size-icon{
    font-size: 50px;
    color: rgb(255, 255, 255);
}


.link{
    color: rgb(22, 253, 164);
}
.link:hover{
    color: rgb(253, 94, 83);
    text-decoration-line: none;
}

.fb-speaker{
    color: rgb(252, 252, 252);
    padding: 4px 10px 4px 10px;
    background: #3b5999;
 }
 .fb-speaker:hover{
     transform: scale(1.5);
     color: #3b5999;
     border-color: rgb(0,0,0,0,1);
     background:#ffffff ;
     padding: 4px 10px 4px 10px;
     border-radius: 5%;
     text-decoration-line: none;
 }

 .web{
    color: rgb(252, 252, 252);
    padding: 4px 10px 4px 10px;
    background: #ee3a04;
 }
 .web:hover{
     transform: scale(1.5);
     color: #ee3a04;
     border-color: rgb(0,0,0,0,1);
     background:#ffffff ;
     padding: 4px 10px 4px 10px;
     border-radius: 5%;
     text-decoration-line: none;
 }