<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Presentamos a nuestros asesores, quienes guían nuestro trabajo"> 

  <!-- Imagen del favicon + Título-->
  <link rel="shortcut icon" href="/img/favicon.svg">
  <title>CIMIC-ASESORES</title>

  <!-- Link de Bootstrap CSS -->
  <link rel="stylesheet" href="../../css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/styles-roy.css">
  <link rel="stylesheet" href="../../css/styles-wil.css">

  <!-- Link de Fontawesome -->
  <!-- FONTAWESOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">

  
  
</head>
<body>
      <!-- BARRA DE NAVEGACIÓN-->
  <section class="container-fluid">
    <nav class="navbar navbar-expand-lg  navbar-dark  bg-nav fixed-top"> <!-- navbar-(para la letra)  bg-(Color de Fondo Background)-->
        <a class="navbar-brand px-4" href="/index.html">CIMIC</a>
    
        <!-- Esto hace que sea responsive (Menu Hambruguesa como dice Roy)-->    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Estas son las opciones en el Menú--> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent"> 

          <ul class="navbar-nav mr-auto">

            <li class="nav-item"> <!-- Poner clase (activado o disable) para activar o desactivar--> 
              <a class="nav-link active" href="/views/QuienesSomos.html"> <i class="fas fa-address-card"></i>   ¿Quienes somos? <span class="sr-only">(current)</span></a>
            </li>

            
            <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-friends"></i> Miembros</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/views/miembros/general.html"><i class="fas fa-user-tie"></i> Gerencia General</a>
                  <a class="dropdown-item" href="/views/miembros/asesores.html"><i class="fas fa-user-tie"></i> Asesores</a>
                  <a class="dropdown-item" href="/views/miembros/gerencias.html"><i class="fas fa-user-tie"></i> Gerencias</a>
                  <a class="dropdown-item" href="/views/miembros/miembros.html"><i class="fas fa-users"></i> Miembros</a>
                </div>
              </li>


            <li class="nav-item">
              <a class="nav-link active" href="/views/publicaciones.html"> <i class="fas fa-globe-americas"></i> Publicaciones</a>
            </li>

            
            <li class="nav-item">
                <a class="nav-link active" href="/views/eventos.html"><i class="fas fa-calendar-day"></i> Eventos</a>
              </li>
            
          </ul>

          <!-- Parte del buscador--> <!-- 
          <form class="form-inline my-2 my-lg-0 mr-5" >
            <input class="form-control mr-sm-2" type="search" placeholder="¿Que buscaremos?" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
          </form> --> 

  <!-- BOTONES DE INGRESAR O REGISTRARSE--> 
  <div>
      <button type="button pd" class="btn btn-light" data-toggle="modal" data-target="#exampleModa1">Ingresar <i class="fas fa-door-open"></i>   </button>
      <button type="button" class="btn btn-info ml-2" data-toggle="modal" data-target="#exampleModa2">Registrarse <i class="fas fa-sign-in-alt"></i></button>
  </div>
        
  </div>
  </nav>
    </section>

  <!-- Este es el modal de INGRESAR-->
  <div class="modal fade" id="exampleModa1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingresar <i class="fas fa-door-open"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Estamos trabajando en ello, para que tu experiencía sea lo más acogedor posible.
        <div class="text-center"><img src="https://1.bp.blogspot.com/-FbtBa61P17E/Xy7KgugAayI/AAAAAAAACI8/K5_LFNPHUk8cb9yx8zWNNcM9WvdFwlcdgCLcBGAsYHQ/s126/Imagen-animada-Engranajes-15.gif" alt=""></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
  </div>
  <!-- Este es el modal de registrarse-->
  <div class="modal fade" id="exampleModa2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrarse <i class="fas fa-sign-in-alt"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Estamos trabajando en ello, gracias por su comprensión.
        <div class="text-center"><img src="https://1.bp.blogspot.com/-FbtBa61P17E/Xy7KgugAayI/AAAAAAAACI8/K5_LFNPHUk8cb9yx8zWNNcM9WvdFwlcdgCLcBGAsYHQ/s126/Imagen-animada-Engranajes-15.gif" alt=""></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
  </div>

  
 

  <!-- CARDS DE ASESORES -->
  <section class="container-fluid management-container">
    <h1 class="management-title mx-auto">ASESORES</h1>

    <div class="row p-4">
         <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 col-6">
              <div class="card card-manager mx-auto" style="width:95%">
                  <div class="card-header text-center">
                    <a href="#" rel="noopener noreferrer">
                      <img class="card-img-top mb-1 " src="https://1.bp.blogspot.com/-qAHDV3cmDZA/YKAcKouXVHI/AAAAAAAAARY/nLb5GXloTicfNg9bZdXERqo94kDyvFCAQCLcBGAsYHQ/s16000/Ing-Ruben.jpg" alt="Imagen de gerente">
                  </a>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title"><a href="#">Ing. Rubén Sanchez</a></h4>
                      <p class="card-text card-text-general">ASESOR CIMIC</p>
                        <div class="social-media">
                          <ul>
                            <li><a target="_blank" href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a target="_blank" href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
                            <li><a target="_blank" href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a target="_blank" href="#" class="mail"><i class="fas fa-envelope"></i></a></li>
                          </ul>
                        </div>
                  </div>
              </div>
        </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 col-6">
              <div class="card card-manager mx-auto" style="width:95%">
                  <div class="card-header text-center">
                    <a href="#" rel="noopener noreferrer">
                      <img class="card-img-top mb-1 " src="https://1.bp.blogspot.com/-3qjKerIbKqU/YKAe_WGixwI/AAAAAAAAARo/z5CMaMS4WiseOBD8Mo5v2daaHeiO77VTQCLcBGAsYHQ/s16000/Ing-Martin-Benavente-CIMIC.jpg" alt="Imagen de gerente">
                  </a>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title"><a href="#">Ing. Martin Benavente</a></h4>
                      <p class="card-text card-text-general">ASESOR CIMIC</p>
                        <div class="social-media">
                          <ul>
                            <li><a target="_blank" href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a target="_blank" href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
                            <li><a target="_blank" href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a target="_blank" href="#" class="mail"><i class="fas fa-envelope"></i></a></li>
                          </ul>
                        </div>
                  </div>
              </div>
        </div>
       <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 col-6">
              <div class="card card-manager mx-auto" style="width:95%">
                  <div class="card-header text-center">
                    <a href="#" rel="noopener noreferrer">
                      <img class="card-img-top mb-1 " src="https://1.bp.blogspot.com/-2eL4qdZXzDg/YKBC9NDEWSI/AAAAAAAAARw/NU3-ZSuXar4hl81IFCNx21WO9bStewbaACLcBGAsYHQ/s16000/iNg-romell-chay%25C3%25B1a.jpg" alt="Imagen de gerente">
                  </a>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title"><a href="#">Ing. Romell Chayña</a></h4>
                      <p class="card-text card-text-general">ASESOR CIMIC</p>
                        <div class="social-media">
                          <ul>
                            <li><a target="_blank" href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a target="_blank" href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
                            <li><a target="_blank" href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a target="_blank" href="#" class="mail"><i class="fas fa-envelope"></i></a></li>
                          </ul>
                        </div>
                  </div>
              </div>
        </div>
      
    </div>
  </section> 

    <!--Esto es el footer-->
    <footer  class="bg-footer py-2 container-fluid" > <!--Esto me hizo sufris, ocurria un error XD :v-->
    
      <div class="row">
  
        <div class="col-12  col-sm-12 col-md-6 col-lg-3">
          <div class="text-center mb-4"><img src="../../img/Logo Cimic - Oficial.png" alt="" width="50%"></div>
          <!-- Contador de visitas -->
          <div class="text-center pb-4 mb-2">
            <a>
            <img style="border: 0px solid; display: inline;" alt="contador de visitas" src="http://www.websmultimedia.com/contador-de-visitas.php?id=287132">
            </a>
          </div>
          <!-- Fin Contador de visitas -->
          
        </div>
  
        <div class="col-12  col-sm-12 col-md-6 col-lg-3">
        <div class="text-center mb-2">
          <h3 class=" h5">SÍGUENOS EN FACEBOOK</h3>
          <!--Caja de facebook-->
          <div class="fb-page" data-href="https://web.facebook.com/CIMIC.EPIC" data-tabs="timeline" data-width="" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://web.facebook.com/CIMIC.EPIC" class="fb-xfbml-parse-ignore"><a href="https://web.facebook.com/CIMIC.EPIC">CIMIC</a></blockquote></div>
        <br/><br/>
        </div>
        </div>
  
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="pl-1">
          <h3 class="text-center h5">ENLACES RÁPIDOS</h3>
          <p > <a target="_blank" class="fb" href="https://web.facebook.com/CIMIC.EPIC"><i class="fab fa-facebook-square"></i> Facebook</a></p>
          <p > <a target="_blank" class="ytube" href="https://www.youtube.com/channel/UC6pqVJdqwCxV0CQS4LtxuRg"><i class="fab fa-youtube-square"></i> You Tube</a></p>
          <br/>
        </div>
        </div>
  
      
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="pl-3">
          <h3 class="text-center h5" >INFORMACIÓN DE CONTACTO</h3>
          <p> <i class="fas fa-phone-square-alt"></i> 957 474 568</p>
          <p> <i class="fas fa-envelope"></i> cimic.peru@gmail.com</p>
          <br/>
        </div>
        </div>
  
      </div>
  
      <div >
        <div class="row"> 
          <div class="col-12 ">
            <p class="text-center"><i class="fas fa-copyright"></i> CIMIC 2021. Todos los Derechos Reservados.  </p>
          </div>
          
        </div>
         
      </div>
   </footer>

  <!-- BOTON DE IR ARRIBA-->
  <span id="button-up"> 
    <i class="fas fa-chevron-up"></i>
  </span>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="../../js/bootstrap.min.js"></script>  
  <script src="../../js/wilder.js"></script>
  <!-- FACEBOOK -->
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v10.0" nonce="AY0HrYdh"></script>
  
</body>
</html>
