<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Aquí va la descripción de la página que saldrá en GOOGLE"> 

  <!-- Imagen del favicon + Título-->
  <link rel="shortcut icon" href="/img/favicon.svg">
  <title>CIMIC</title>

  <!-- Link de Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles-roy.css">
  <link rel="stylesheet" href="/css/styles-wil.css">

  <!-- Link de Fontawesome -->
  <!-- FONTAWESOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">

  
  
</head>
<body>
      <!-- BARRA DE NAVEGACIÓN-->
  <section class="container-fluid">
    <nav class="navbar navbar-expand-lg  navbar-dark  bg-nav fixed-top"> <!-- navbar-(para la letra)  bg-(Color de Fondo Background)-->
        <a class="navbar-brand px-4" href="/index.html">CIMIC</a>
    
        <!-- Esto hace que sea responsive (Menu Hambruguesa como dice Roy)-->    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Estas son las opciones en el Menú--> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent"> 

          <ul class="navbar-nav mr-auto">

            <li class="nav-item"> <!-- Poner clase (activado o disable) para activar o desactivar--> 
              <a class="nav-link" href="../../QuienesSomos.html"> <i class="fas fa-address-card"></i>   ¿Quienes somos? <span class="sr-only">(current)</span></a>
            </li>

            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-friends"></i> Miembros</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/views/miembros/general.html"><i class="fas fa-user-tie"></i> Gerencia General</a>
                  <a class="dropdown-item" href="/views/miembros/asesores.html"><i class="fas fa-user-tie"></i> Asesores</a>
                  <a class="dropdown-item" href="/views/miembros/gerencias.html"><i class="fas fa-user-tie"></i> Gerencias</a>
                  <a class="dropdown-item" href="/views/miembros/miembros.html"><i class="fas fa-users"></i> Miembros</a>
                </div>
              </li>


            <li class="nav-item">
              <a class="nav-link" href="/views/publicaciones.html"> <i class="fas fa-globe-americas"></i> Publicaciones</a>
            </li>

            
            <li class="nav-item">
                <a class="nav-link" href="/views/eventos.html"><i class="fas fa-calendar-day"></i> Eventos</a>
              </li>
            
          </ul>

          <!-- Parte del buscador--> <!-- 
          <form class="form-inline my-2 my-lg-0 mr-5" >
            <input class="form-control mr-sm-2" type="search" placeholder="¿Que buscaremos?" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
          </form> --> 

  <!-- BOTONES DE INGRESAR O REGISTRARSE--> 
  <div>
      <button type="button pd" class="btn btn-light" data-toggle="modal" data-target="#exampleModa1">Ingresar <i class="fas fa-door-open"></i>   </button>
      <button type="button" class="btn btn-info ml-2" data-toggle="modal" data-target="#exampleModa2">Registrarse <i class="fas fa-sign-in-alt"></i></button>
  </div>
        
  </div>
  </nav>
    </section>

  <!-- Este es el modal de INGRESAR-->
  <div class="modal fade" id="exampleModa1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingresar <i class="fas fa-door-open"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Estamos trabajando en ello, para que tu experiencía sea lo más acogedor posible.
        <div class="text-center"><img src="https://1.bp.blogspot.com/-FbtBa61P17E/Xy7KgugAayI/AAAAAAAACI8/K5_LFNPHUk8cb9yx8zWNNcM9WvdFwlcdgCLcBGAsYHQ/s126/Imagen-animada-Engranajes-15.gif" alt=""></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
  </div>
  <!-- Este es el modal de registrarse-->
  <div class="modal fade" id="exampleModa2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrarse <i class="fas fa-sign-in-alt"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Estamos trabajando en ello, gracias por su comprensión.
        <div class="text-center"><img src="https://1.bp.blogspot.com/-FbtBa61P17E/Xy7KgugAayI/AAAAAAAACI8/K5_LFNPHUk8cb9yx8zWNNcM9WvdFwlcdgCLcBGAsYHQ/s126/Imagen-animada-Engranajes-15.gif" alt=""></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
  </div>

  <!-- CARDS DE GERENCIAS GENERALES -->
  <section class="container-fluid management-container">
    <h1 class="management-title mx-auto">GERENCIA GENERAL</h1>

    <div class="row p-4">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 col-12">
              <div class="card card-manager mx-auto" style="width:90%">
                  <div class="card-header">
                    <a href="#" target="_blank" rel="noopener noreferrer">
                      <img class="card-img-top mb-1" src="https://1.bp.blogspot.com/-JGOrtN5Wdbo/XzyD1uGiaNI/AAAAAAAAAB4/gDZVir3kPScRM1bTGSFEAY8-S9X3aoQrACLcBGAsYHQ/w506-h506/Chemos.png" alt="Imagen de gerente">
                  </a>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title"><a href="#" target="_blank">Jose Salas</a></h4>
                      <p class="card-text card-text-general">PRESIDENTE</p>
                      <ul class="social-media">
                          <li class="social-media-element"><a href="https://www.facebook.com/JoseMSalasLoza" class="mx-auto" target="_blank"><i class="fab fa-facebook-square icon-large fa-2x" style="color: gray;"></i></a></li>
                          <li class="social-media-element"><a href="mailto:cimic.epicpuno@gmail.com?Subject=Quisiera%20contactar%20contigo" class="mx-auto"><i class="fas fa-envelope icon-large fa-2x" style="color: gray;"></i></a></li>
                      </ul>
                  </div>
              </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 col-12">
              <div class="card card-manager mx-auto" style="width:90%">
                  <div class="card-header">
                    <a href="#" target="_blank" rel="noopener noreferrer">
                      <img class="card-img-top mb-1" src="https://lh3.googleusercontent.com/CF79_og_1z49NyUlStL2wyPjWWJMJAvuNCG0gogC8wvPbi-ZG94-zMHlVOQvXfEW_qnn_SnpV_FuvycSnwTMJ_zSCy0JCc_9DiDrfQRBUOWln3hvyhgNzfORJGGe5gsrRFENK4OcjG1ieNJp2ZNmW1WIYD2w1dyI_XhlRO0VEK-__TrUWeYGOtno8cF78gwJbgnNAHLRiWTuB8zYC6WqoxJx4GoZKP-Wu62AwJl1FGL7Qqmg71pSoFmpc-9ksY_0QOCND3R7q2ZSBTlm32bZlnS-dIGIFAg8aZTWIebQGoZ7y8cOyUir4-I2Lg-vHd0IoaPFlmcOoPU_P8Ib3--gYD8vaSobNlARIJvyhvcTD9SclnDtRnxwwQB6tOZjg6lUTntbynD2BEFvNNcC9FUx81wSnFImehYNp7BRL0wy2tGU9kVqjOpPizWt3biWshB76wvBjdxB3EG-E1d-3ervGPZfe-RnzNBAgUnWN3tM0mNlLNNuayDsRkR6pEoz1ApQIPju1FEyHaCZ7wDI26vNLPvuS75rWurMFyU-QVXjgouoH_jE-t0vUGMfVc-RDFIqBCXUP-rYEuZ4Vz89B_UNGhmv9uC1O2zQYFRPkfTuQ4wVdG1rEjXTHe7Wco4RfD5wjNtpkJMWtma_Bb8mSUfxVxpfOPrGlwUTgZOD6Znl9X20vd71nrwMi7tXElQ_=s211-no?authuser=0" alt="Imagen de gerente">
                  </a>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title"><a href="#" target="_blank">Airton Valero</a></h4>
                      <p class="card-text card-text-general">VICEPRESIDENTE</p>
                      <ul class="social-media">
                          <li class="social-media-element"><a href="https://www.facebook.com/enrique.valerohuaman" class="mx-auto" target="_blank"><i class="fab fa-facebook-square icon-large fa-2x" style="color: gray;"></i></a></li>
                          <li class="social-media-element"><a href="mailto:airton.1197@gmail.com?Subject=Quisiera%20contactar%20contigo" target="_blank" class="mx-auto"><i class="fas fa-envelope icon-large fa-2x" style="color: gray;"></i></a></li>
                      </ul>
                  </div>
              </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 col-12">
              <div class="card card-manager mx-auto" style="width:90%">
                  <div class="card-header">
                    <a href="#" target="_blank" rel="noopener noreferrer">
                      <img class="card-img-top mb-1" src="https://lh3.googleusercontent.com/2aWWCvFhA48qN77vjujediBObpbtuVERDz_XJCxDH5U90CUa-4REtLtkgL7XtfyrKW86cpqzB3rWRKiDZviW_cNjkYlHKoYCBkBg1mQ3asZ4SVOpfSd8MQuZM-zC5w5sNO2D1YdOeSUvQUr4hczb-3pXQge_VRlYNv7HWA0n-Fx2P0dkiUn9UnlCESjxamvkoPF-3Nl1I61UepC1ExiVW4sQ-Ixg7TQGfXsaCRBKT8lYAJ6eaqYs1Wu5jfixAHabLFGC4HPLUOBWXTFtCU-ifRfQxqJ_7-p6mN5hAVlVuDIB9xapWRf6x61wvU1PYPsPGsLZEIOsKTTFhzVPoXTEWMwoR4tO7RzFMOf3iapR8QoBVHVjS1jOGunUaV6KAhm-0w3tCMCOIsF_xJiM5ev8EaJSWYYXxB7uK_owqiZNhxLAqfupx0uQlbY9pt4Py0Dy55jG-vAFmwIik7XlKJvWZs4NiVUua6YozxoQWia2WEJhBnXb5Z1IbcYmpBX4W9whlSb3RdHNLeck8CGpwYwSxNz29MbsrBd-DglhQASObeztXQCAq5rSPPXvas8G76JEhY7JvqoYNvhKCvn-deBFH5YBXv7qAg0O3_zvsbRPFzRxQx9s5cij8jO9eqpx-D-17F5v5lmyG3njEexIMWqJCqg1MTR58HaO6-kwHAfGLcvs5lMvegQKaKaUj2tN=w629-h632-no?authuser=0" alt="Imagen de gerente">
                  </a>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title"><a href="#" target="_blank">Roly Alvarez</a></h4>
                      <p class="card-text card-text-general">SECRETARIO GENERAL</p>
                      <ul class="social-media">
                          <li class="social-media-element"><a href="https://www.facebook.com/rolyyermi.alvarezcaceres" class="mx-auto" target="_blank"><i class="fab fa-facebook-square icon-large fa-2x" style="color: gray;"></i></a></li>
                          <li class="social-media-element"><a href="mailto:yermid87@gmail.com?Subject=Quisiera%20contactar%20contigo" class="mx-auto"><i class="fas fa-envelope icon-large fa-2x" style="color: gray;"></i></a></li>
                      </ul>
                  </div>
              </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 col-12">
              <div class="card card-manager mx-auto" style="width:90%">
                  <div class="card-header">
                    <a href="#" target="_blank" rel="noopener noreferrer">
                      <img class="card-img-top mb-1" src="https://lh3.googleusercontent.com/bRXRWjKIdhbl13aGGQE1roHVo6s8W6A9BRDbSC5FfMI6ku31IFcHOMUCkcqkCEHXcTwhrWKlmVlvSnMg_p71pwL7k9_PG5ikrwThxbvC7QooEL25b5A3932xpo5mOj284eO6gZIzzbSAEl8TSb97PTTf2Py7ry_A6se_CwbT9B6PQxks4aaalzEeJs7aB7uytC_v6hT7a5DAWnAa0OxklipHmW3vhi3rgM7HSqWwIQmOoSf2bZ2orXQBFoTT3qx8NrFEcC8CCL2Tu9GwHR6ASZ6JTRLJ_Pb7f5famGe7vco9uNnYqP4hLjfDqhIiCutJgjnHCN-dsSODC-EUvAjdLWD-yjsPxjqBJRxzAj8yHUZrH_5143EilOaizS2ZxRm00RKAqstNAjqdlxLJBb9PYywpeMfwE_6J0YgPqL0VjqI_kv6dUfGVPFvuu7TrtpPpdI51IWacq7sd65mrZsVANw0Vf1D3Ni5CwA39b7sO0qs6ov9lU3tKNZeKs-DfjvqRoGfJsN3pIf_XJqJu3eMujZfC3gEvD9qYiqXQ1VZ7rrkpQvresRT17NbEexGnEFbpKh7DFOSp_U5Mt1EZSfEorAFBTTzh-ga9e1Gn4ESRDTxGPBonvguQIzM_mtHXUtgCnzXYyekuS1D3zzWETvMB57pXSjubR3X_MjVnggiPJRoktt9rl0_H96I8KU52=s638-no?authuser=0" alt="Imagen de gerente">
                  </a>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title"><a href="#" target="_blank">Roy Mamani</a></h4>
                      <p class="card-text card-text-general">TESORERIA GENERAL</p>
                      <ul class="social-media">
                          <li class="social-media-element"><a href="https://www.facebook.com/roy.alexis.863/" class="mx-auto" target="_blank"><i class="fab fa-facebook-square icon-large fa-2x" style="color: gray;"></i></a></li>
                          <li class="social-media-element"><a href="mailto:renzal863@gmail.com?Subject=Quisiera%20contactar%20contigo" class="mx-auto"><i class="fas fa-envelope icon-large fa-2x" style="color: gray;"></i></a></li>
                      </ul>
                  </div>
              </div>
        </div>
        
        
    </div>
  </section>

    <!--Esto es el footer-->
 <footer  class="bg-footer py-2 container-fluid" > <!--Esto me hizo sufris, ocurria un error XD :v-->
    
    <div class="row">

      <div class="col-12  col-sm-12 col-md-6 col-lg-3">
        <div class="text-center mb-4"><img src="/img/LOGO2.png" alt=""></div>
      </div>

      <div class="col-12  col-sm-12 col-md-6 col-lg-3">
      <div class="text-center">
        <h3 class=" h5">Déjanos tu Comentario</h3>
        <!--Envíanos tu Comentario-->
        <form action="text" class="mx-3">
            <input class="form-control mr-sm-2 my-2" type="text" placeholder="Nombres" aria-label="Search">
            <input class="form-control mr-sm-2 my-2" type="email" placeholder="Correo Electrónico" aria-label="Search">
            <input class="form-control mr-sm-2 my-2" type="tel" placeholder="Telefono / Celular" aria-label="Search">
            <textarea class="form-control mr-sm-2 my-2" type="text" placeholder="Escribe tu Comentario" aria-label="Search" cols="20" rows="6"></textarea>
            <p class="text-left "> <button  type="button" class="btn btn-light font-weight-bold " id=""> ENVIAR </button>  
        </form> </p>
      </div>
      </div>

      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
      <div class="pl-3">
        <h3 class="text-center h5">Enlaces rápidos</h3>
        <p> <a href="https://web.facebook.com/CIMIC.EPIC"><i class="fab fa-facebook-square"></i> Facebook</a></p>
        <p><i class="fab fa-youtube-square"></i> You Tube</p>
        <p><i class="fab fa-whatsapp-square"></i> Grupo de Whatsapp</p>
      </div>
      </div>

    
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
      <div class="pl-3">
        <h3 class="text-center h5" >Información de contacto</h3>
        <p> <i class="fas fa-phone-square-alt"></i> +51 974514178</p>
        <p> <i class="fas fa-envelope"></i> cimic.epic@gmail.com</p>
      </div>
      </div>

    </div>

    <div >
        <p class="text-center">Todos los Derechos Reservados <i class="fas fa-copyright"></i> CIMIC</p>
    </div>


 </footer>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="/js/bootstrap.min.js"></script>  

  
</body>
</html>
