<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Aquí va la descripción de la página que saldrá en GOOGLE"> 

  <!-- Imagen del favicon + Título-->
  <link rel="shortcut icon" href="/img/favicon.svg">
  <title>CIMIC</title>

  <!-- Link de Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles-roy.css">
  <link rel="stylesheet" href="/css/styles-wil.css">

  <!-- Link de Fontawesome -->
  <!-- FONTAWESOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">

  
  
</head>
<body>
      <!-- BARRA DE NAVEGACIÓN-->
  <section class="container-fluid">
    <nav class="navbar navbar-expand-lg  navbar-dark  bg-nav fixed-top"> <!-- navbar-(para la letra)  bg-(Color de Fondo Background)-->
        <a class="navbar-brand px-4" href="/index.html">CIMIC</a>
    
        <!-- Esto hace que sea responsive (Menu Hambruguesa como dice Roy)-->    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Estas son las opciones en el Menú--> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent"> 

          <ul class="navbar-nav mr-auto">

            <li class="nav-item"> <!-- Poner clase (activado o disable) para activar o desactivar--> 
              <a class="nav-link" href="../../QuienesSomos.html"> <i class="fas fa-address-card"></i>   ¿Quienes somos? <span class="sr-only">(current)</span></a>
            </li>

            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-friends"></i> Miembros</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/views/miembros/general.html"><i class="fas fa-user-tie"></i> Gerencia General</a>
                  <a class="dropdown-item" href="/views/miembros/asesores.html"><i class="fas fa-user-tie"></i> Asesores</a>
                  <a class="dropdown-item" href="/views/miembros/gerencias.html"><i class="fas fa-user-tie"></i> Gerencias</a>
                  <a class="dropdown-item" href="/views/miembros/miembros.html"><i class="fas fa-users"></i> Miembros</a>
                </div>
              </li>


            <li class="nav-item">
              <a class="nav-link" href="/views/publicaciones.html"> <i class="fas fa-globe-americas"></i> Publicaciones</a>
            </li>

            
            <li class="nav-item">
                <a class="nav-link" href="/views/eventos.html"><i class="fas fa-calendar-day"></i> Eventos</a>
              </li>
            
          </ul>

          <!-- Parte del buscador--> <!-- 
          <form class="form-inline my-2 my-lg-0 mr-5" >
            <input class="form-control mr-sm-2" type="search" placeholder="¿Que buscaremos?" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
          </form> --> 

  <!-- BOTONES DE INGRESAR O REGISTRARSE--> 
  <div>
      <button type="button pd" class="btn btn-light" data-toggle="modal" data-target="#exampleModa1">Ingresar <i class="fas fa-door-open"></i>   </button>
      <button type="button" class="btn btn-info ml-2" data-toggle="modal" data-target="#exampleModa2">Registrarse <i class="fas fa-sign-in-alt"></i></button>
  </div>
        
  </div>
  </nav>
    </section>

  <!-- Este es el modal de INGRESAR-->
  <div class="modal fade" id="exampleModa1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingresar <i class="fas fa-door-open"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Estamos trabajando en ello, para que tu experiencía sea lo más acogedor posible.
        <div class="text-center"><img src="https://1.bp.blogspot.com/-FbtBa61P17E/Xy7KgugAayI/AAAAAAAACI8/K5_LFNPHUk8cb9yx8zWNNcM9WvdFwlcdgCLcBGAsYHQ/s126/Imagen-animada-Engranajes-15.gif" alt=""></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
  </div>
  <!-- Este es el modal de registrarse-->
  <div class="modal fade" id="exampleModa2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrarse <i class="fas fa-sign-in-alt"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Estamos trabajando en ello, gracias por su comprensión.
        <div class="text-center"><img src="https://1.bp.blogspot.com/-FbtBa61P17E/Xy7KgugAayI/AAAAAAAACI8/K5_LFNPHUk8cb9yx8zWNNcM9WvdFwlcdgCLcBGAsYHQ/s126/Imagen-animada-Engranajes-15.gif" alt=""></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
  </div>

    <!-- CARDS DE GERENTES -->
    <section class="container-fluid management-container">
      <h1 class="management-title mx-auto">GERENCIAS</h1>
  
      <div class="row p-4">
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-12">
                <div class="card card-manager mx-auto" style="width:85%">
                    <div class="card-header">
                      <a href="#">
                        <img class="card-img-top mb-1" src="https://lh3.googleusercontent.com/uo26F5PiCB0pHXdKXhY7OKzum9yz2qzsy1N4DLC27ShuNtU3xOqCkYq41wmlhQBxPafI0d0eP7pgtCwAZ4XrsjEilR3H7bFxkwapsfQObCgsPpWkCqc3s7Hb4B4bdEpQULstiD3E5b4U8Vbk2ajD4JTc-AHX6mJuANoa70Ggcl0BmjJcvhv6xGLMwYz-paXFbOh53I2hfO9O9-6foQ1SwO2dLb_H6WPKcOOZWXEQW5QZpiXULzowbXnH6bpfWgvG3FJ83QANLSfN4TdMgoeRxSYDFUYEzh7md47oM0UrbGNgHsMVEHhFVWXxZ2A_CYxrR81_6A1nxiKx12mPNwRZigWKOZHZ836-lW1PuYA2IlI_aplal1R4tzgejswoy6Lijt9fRGi3ETr1AWGEqb8m6J9Sg-KcwlWB6pFmDd0GCKBfSRlh2PcKnqvo5XKB3W5CTfo18K-Q5IzCQvFaMtfnh4cLEgTDeqjGhevaFE35lZKvpaAmkxUxeouPgYCklrGJjslY7AK5EzU_yeBDnKG1YC7YdwdbYBZ7scJVSv6wVl2AdPktKdtalwzWHQIvTs8eEl7DWH7t2U3gQFyRjfiktuajEFJtQogLeCATYELKQ8x4n2UxQifUOgiqdAZTDU7N--jDg5IPQWmLMZzYYCld88yJ7fHs2baCbSg7j6sOHsmh8I1Qjqc2ODue-g5F=w634-h632-no?authuser=0" alt="Imagen de gerente">
                      </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Jesus Rivera</h4>
                        <p class="card-text card-text-gerencias">GERENTE DE PLANIFICACIÓN Y ORGANIZACIÓN</p>
                        <ul class="social-media">
                          <li class="social-media-element"><a href="https://www.facebook.com/profile.php?id=100006283575486" class="mx-auto" target="_blank"><i class="fab fa-facebook-square icon-large fa-2x" style="color: gray;"></i></a></li>
                          <li class="social-media-element"><a href="mailto:jriveram@est.unap.edu.pe?Subject=Quisiera%20contactar%20contigo" class="mx-auto"><i class="fas fa-envelope icon-large fa-2x" style="color: gray;"></i></a></li>
                        </ul>
                    </div>
                </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-12">
            <div class="card card-manager mx-auto" style="width:85%">
                <div class="card-header">
                  <a href="#">
                    <img class="card-img-top mb-1" src="https://lh3.googleusercontent.com/KYs4mceFnhg1To3hnUPTNzZpbQjyU4bT1TVDIavieqfJkoqzdN6hGUvKnQKjIfO9LrW0yyGdru9FcZdKs4wfdgeKiPhTtNPy3jZg-kD1H03ZognYfklJSpoPhOsaRE3f9_AI8egjFIVH4Xz2lTyI8NsuXmCG8lKSyX7uzwManWmeuBOzuKJSvD0mphmdvNkBcyJhXphL7Fb298oOZvko3OKTrUQHWxzLRAxz99vu08DqBCL6TQTCkywS4xJ09t6ulg79dvwaX46zj0J48yLq2V3oyfrSEkZONeCi0kL-ELeRaOnzdy7fXRtsUw5ULC9_r4lQz3Ta_EMauztMhxslQf7gjopGSkoSA3Czhmz7b6pNwglu_7p2nUcqyUtJybn99BrXaTIlVYrtOhch45DvId9hwCC6iPRWn29tEJXSJbj-B5MAA5-vNdaQizIZ7l9Xon6DTYJGZ-Gb5lH2UL0oKF-LiPFjLELWEGkw8n8FVJFU5Y0CS-KMTgAg4yKvCf67B_Nx5tBbTuCen_fI0IklrnWWkYkRjK5m3KpD_qQaZ7StwsTP3iQKP-8vBf3vyNtGxGXGOlvJbFb6vCnKUbfCTVEkM5uZ8637cVBgJXhONpQcyxKPVoSynKZr9WIes8lDoxmA4GRsVyN3h6wC_ognrN3sy1uPyzWW2CQgvHZBVLRxeg3-4kPPwn-4-79T=w629-h632-no?authuser=0" alt="Imagen de gerente">
                  </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Jhon Condori</h4>
                    <p class="card-text card-text-gerencias">GERENTE DE ASUNTOS ACADÉMICOS</p>
                    <ul class="social-media">
                      <li class="social-media-element"><a href="https://www.facebook.com/johnstrawr" class="mx-auto" target="_blank"><i class="fab fa-facebook-square icon-large fa-2x" style="color: gray;"></i></a></li>
                      <li class="social-media-element"><a href="mailto:surdio.123@gmail.com?Subject=Quisiera%20contactar%20contigo" class="mx-auto"><i class="fas fa-envelope icon-large fa-2x" style="color: gray;"></i></a></li>
                    </ul>
                </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-12">
            <div class="card card-manager mx-auto" style="width:85%">
                <div class="card-header">
                  <a href="#">
                    <img class="card-img-top mb-1" src="/img/santiago.png" alt="Imagen de gerente">
                  </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Jesus Mamani</h4>
                    <p class="card-text card-text-gerencias">GERENTE DE BIENESTAR UNIVERSITARIO</p>
                    <ul class="social-media">
                      <li class="social-media-element"><a href="https://www.facebook.com/jesussantiago.mamaniaracayo" class="mx-auto" target="_blank"><i class="fab fa-facebook-square icon-large fa-2x" style="color: gray;"></i></a></li>
                      <li class="social-media-element"><a href="mailto:jesus.mamani.18@gmail.com?Subject=Quisiera%20contactar%20contigo" class="mx-auto"><i class="fas fa-envelope icon-large fa-2x" style="color: gray;"></i></a></li>
                    </ul>
                </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-12">
                <div class="card card-manager mx-auto" style="width:85%">
                    <div class="card-header">
                      <a href="#">
                        <img class="card-img-top mb-1" src="https://lh3.googleusercontent.com/AFT1tzBgSmxTuAJZSuVclCtXDipyYrP5se1KcSoH6RyKQ64pwSGr9OmsgaRMeSFv_e9wo1ky-MK2awVDGpaUIk8mlR199mV9gLY5r4_pYHc7ySi520kZGYM1BgKrXNcLK4suHkhoAVCyr9RNvSe4nj_bp7xtJUmcacocz3RyyzjkqPnWpBSEP1TYK4bTxvJzWd6E8ekFQtEgjFObqQNwVl7bcYX5hbMrwOrUMkY5Mll6AMAhZga76v4Zu4Y6vFPXNrTjGpKYzU24MO5_blcWv2yfzPkXmZVSknn0diqT6kk4mo316qdfQP-kdMduP7zMWwjbQFiPp-TS2DOYdzaQ7FYnRZnVo0gcz-uEU2DOF9ywjanU2Psv6hTBbq-odL36BHsSye9EV9abAS4x43GfPsB929pW6vRPwEhPDMn4oeugxWdkBU6E-Vgpek4F4BKkWU39O0Mhg0vnkfGNSJxFnglaSQWjGiq55lw1XlCJ3RIB0lajQwRO8SXzD5hwB7qO3QaU0AiSF_5XHbIptexqKHsEG97EDT64h4jfozT-D-DLpMhtdWfBASvdXsIfEQFrI_oRK38YvQcyOpCNfV0baweiSdCnDmvD9SGLcWa5eRIezKe-zwLQJFGO4EQyQrC2Gxg0DeEHPq_-Pc9RXiK6ZJy6olN0Wz8vvHAPOaOanGlRcMJZXP_z7QYSRF3u=s632-no?authuser=0" alt="Imagen de gerente">
                      </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Diego Callo</h4>
                        <p class="card-text card-text-gerencias">GERENTE DE RELACIONES EXTERIORES Y ASUNTOS SOCIALES</p>
                        <ul class="social-media">
                          <li class="social-media-element"><a href="https://www.facebook.com/diego.ccallo.73" class="mx-auto" target="_blank"><i class="fab fa-facebook-square icon-large fa-2x" style="color: gray;"></i></a></li>
                          <li class="social-media-element"><a href="mailto:Diegoing5820@gmail.com@gmail.com?Subject=Quisiera%20contactar%20contigo" class="mx-auto"><i class="fas fa-envelope icon-large fa-2x" style="color: gray;"></i></a></li>
                        </ul>
                    </div>
                </div>
          </div>
          
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-12">
                <div class="card card-manager mx-auto" style="width:85%">
                    <div class="card-header">
                      <a href="#">
                        <img class="card-img-top mb-1" src="https://lh3.googleusercontent.com/pYRYl8GVIqH6wWH9dmsPX0YsHlX29Y5QE-C5TCpFWOACxGOL_IKEdDcx-iozi1dbdbR51t7GJ2dcvNuPkdgpWd8rsqtzlmtDR8UKJwyFjUx__wX4UngXtYQoY4mkA7a7lYz-XliIyAUqR7dHldO9_qcU9MaKHrcssxlJtoykZdtbUjLK5__0MjGe04lEa-VpAR0MqdTMSzo3T6dLVGISWznhDBVZ1le-rVnmct7flx-xwQOViEzZloB_e_3keInPMKmi1sdvhEgx3MuwPW--_Oaiu-P1OxbAlvkW8D8PS-DAsrL7xwTqTLljnDnQItsq2k5ZVSimEXBYYW0O7-7kDSylXRmrKRIK2qgsfYkLK40JWG4KcYtOO3mRL0uV_otcSeGjej1gZpgjK5L89OEOFjcc2DtoEyNvhOFOggw1Iwn95OJilOqYQaE1fOGX3Dmi08H8cueR_N8quFBO5gd583pka3LU3PNR-AKW5Qtl3sggJSBTiQkrLvHcdv6f5tPKArh_n50V9I5oZLTvotfNBMZBbpZMgBIyRYHes18Cso6JhYa3hcYsRMKqy0BViIh0g-J3gmck9CfwmEaMe6ZF9y3pYxUQFWHvtwjlLwdGT0cjRkFuTs3phwULZje-1ks6-eFiVPSe1kiOFmYg8M2IqNtwxs6x3IUMPjJjh_giwbR0QB6bDZ3kfOqWq9Pv=w618-h628-no?authuser=0" alt="Imagen de gerente">
                      </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Yhon Montenegro</h4>
                        <p class="card-text card-text-gerencias">GERENTE DE INFRAESTRUCTURA E INFORMÁTICA</p>
                        <ul class="social-media">
                          <li class="social-media-element"><a href="https://www.facebook.com/profile.php?id=100004177029184" class="mx-auto" target="_blank"><i class="fab fa-facebook-square icon-large fa-2x" style="color: gray;"></i></a></li>
                          <li class="social-media-element"><a href="mailto:aprendoingenieria@gmail.com?Subject=Quisiera%20contactar%20contigo" class="mx-auto"><i class="fas fa-envelope icon-large fa-2x" style="color: gray;"></i></a></li>
                        </ul>
                    </div>
                </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-12">
            <div class="card card-manager mx-auto" style="width:85%">
                <div class="card-header">
                  <a href="#">
                    <img class="card-img-top mb-1" src="https://lh3.googleusercontent.com/OgAY18BBvNzrwsZWQ81XoC3U09tRyhkY6CtrIwCgoKzWdSlrg2q5tF_ZzZ_3MD2XfO7io8fJsCNP4sdoS7VtMUV6Si3bT_ijHJ50LwO1Ul7P9kCFANR8jVadvSU_OLcQ-Cndxa2C6L0upKSporR9DYKfuLM5-Ia8GlHDpfeekJRKqaVnS4hDwS2OaOl_Ma-o-pguaW_tQPzq0eCkZHNJVZGwVeZKaGyu9fEJLOrzf5WfCJKtii2dEzgP_GVfZwOVcOHMCtim4uZKm4PzQWmEcDFcxHxb-uidFnx3l_zVcrW3A7u2EOwy_pvYCqjypFvT7zBpGBOLxeKJYby8QvumRN8F3qh3NsVOyL8Q4H422pVNclzWfLEpuUg2YDnl4Zks5j9-o1QVJ-zYoic9iOPA0yCBbmKJSFuGUjY4UvBF7AIsO0oRyz9Gsg0eIi7wkzponSgqOZaN6OvyrjX0XlGic03E0G0xh6_GPrVI4p3mwWsn4GD_cuhdyP7L0l8QYIUx8P9thgDbEEf3vjdPetrId9Lj5glG--uBjhSeN7CBBqFJHqq4gvVGZHKK-o9-VdpFFtKfO94zvv1CX5dL2p4ba6Muqda43MIBGaav9K2pniVG5Zggo7v6dZU0RDHvB-xywt7Fdxmz4RpHbwmGSSek4Lt1fiBj9TVFo79BoajtoD8OgEekyj0py2xxEzqr=s632-no?authuser=0" alt="Imagen de gerente">
                  </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Hever Apaza</h4>
                    <p class="card-text card-text-gerencias">GERENTE DE INVESTIGACIÓN Y DIFUSIÓN CIENTIFICA</p>
                    <ul class="social-media">
                      <li class="social-media-element"><a href="https://www.facebook.com/heverjared.apazaortega.7" class="mx-auto" target="_blank"><i class="fab fa-facebook-square icon-large fa-2x" style="color: gray;"></i></a></li>
                      <li class="social-media-element"><a href="mailto:sk8jahe@gmail.com?Subject=Quisiera%20contactar%20contigo" class="mx-auto"><i class="fas fa-envelope icon-large fa-2x" style="color: gray;"></i></a></li>
                    </ul>
                </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-12">
            <div class="card card-manager mx-auto" style="width:85%">
                <div class="card-header">
                  <a href="#">
                    <img class="card-img-top mb-1" src="https://lh3.googleusercontent.com/20dw8Gshm_4v5r0D_uGMBXln5uSNP-E-1Cge0g7ek6PmKIem4y5_7kiFjbcVW_XAFSIShJ6cHm1R_uTIWzZLhrjuGUDARYWc7umFJYaeW1SrSzdTEAUO0Q762JVU8jxPIIy9yy4LKImS_VK0cJ-g4nM425tuU1Pvz6YDsox2AS9ywzWc23Bv8ci6z3WQe-qg-XOvCxPm7QrKaPZn3FQk4fztdmUIqUrI4FZqbR07P0yULWrGOYTFrUH7ncpmCHnZdV5cv5iln3sjQzi8HfZUHou-qmP1xcfymMBu1iiT9G8AoBux7XkPEAB4-DMkyPrhbewlamzhENpYDIwSzwfHkgSpsN-nCTXaU94yk8BQWF_YDWbR8wGENxfbTnjALzfU19xPeLBkcFlbuqZrA33ITbvpSRURZ8_yJymlpY2wb4mKEZU21DdH1Dgx2zQRl5zU25x7HSHB2AhhBvUOWOxLTGS_TuGpBOI62X6KwuVk3b52YRAUSAMU7NEV66H64rZSsxwLBu4jbHZKleVQAUNuNipojSFPaLd7wQSZLctbf101muQB1jNpiqKTUCWLgc4tg2Yc4gMH4qszkueU01ZukBUHIX3yAQ79igcTpRn261YNi8j6BTG2yzXGdSZ3OZjyKHjZK8TLGSI9GlAEN7itFj4U9i4k1voWoiyn5peY5w5WfI9XkQtGZppbry0F=s632-no?authuser=0" alt="Imagen de gerente">
                  </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Flor de Liz Paye</h4>
                    <p class="card-text card-text-gerencias">GERENTE DE PROYECCIÓN SOCIAL</p>
                    <ul class="social-media">
                      <li class="social-media-element"><a href="https://www.facebook.com/DelizPQ" class="mx-auto" target="_blank"><i class="fab fa-facebook-square icon-large fa-2x" style="color: gray;"></i></a></li>
                      <li class="social-media-element"><a href="mailto:flordelizpq4@gmail.com?Subject=Quisiera%20contactar%20contigo" class="mx-auto"><i class="fas fa-envelope icon-large fa-2x" style="color: gray;"></i></a></li>
                    </ul>
                </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-12">
                <div class="card card-manager mx-auto" style="width:85%">
                    <div class="card-header">
                      <a href="#">
                        <img class="card-img-top mb-1" src="https://lh3.googleusercontent.com/g7q7W4_aWDGU5BFLHN2P041SYe6Q1qkqDcA1DY6NjIIZaOvt-rSJ1DPycgN0LaJBq8uBNYKchzLbn4ydZ53l3JLRmEfH5H2a44_PCNFxewnkAd4moOpsfv6VvBPcke9dwRYvE3vksOBrnH5Ke5It-GSsrSiz5Tz2UiUpPWa12op4q_OpbvpOoji1wvMFEccKUPqpotEAYgCkuCnAsc-lRz92yyElDAH8VAdePhvSBiSLsbYvYhmzYF17X_W0T0tJtt7alx8LTMZiLXNfFfO_S4OJDHbkDvhEdJ6oRZGj76u3XpuU910KAo99xJKEXlSc2djJPENG6yc334X8niHAGDV1H2Nh-v-FGFIwAmTR0c7lQctFHjCk2-Y9Xxg4eZpdJjfAkSUONvPg5uMj-LGthXvfbublZP9JcgiHKA_JenECaEnNslvtqXpco57zb3BVKN2qW_DAvsOhFTL8NBY1sX-BlHuJA52Fn7mSkSE5jK12b7dnYKeoQMzisbEUB64soy-SjqY57P0Spg1xaaiisGhYKjDd00P3h9g5_tlXUEltH9TqbwVtALInaIOobWQKEbtqKZ3bQBUwufeKtkGed7JRja83RQOjyIHzpFIXkYvSsQJ6tnZA1_fRfUMJC0FeP2z8BVifh9lAC0lYmKO5PcsJFTjv8GFr7enBKA9GWIY9Bk-ICgdGMfnY3biz=s632-no?authuser=0" alt="Imagen de gerente">
                      </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Juan Wilmer Mamani</h4>
                        <p class="card-text card-text-gerencias">GERENTE DE PRENSA Y MARKETING</p>
                        <ul class="social-media">
                          <li class="social-media-element"><a href="https://www.facebook.com/wimactron" class="mx-auto" target="_blank"><i class="fab fa-facebook-square icon-large fa-2x" style="color: gray;"></i></a></li>
                          <li class="social-media-element"><a href="mailto:jwimac.14@gmail.com?Subject=Quisiera%20contactar%20contigo" class="mx-auto"><i class="fas fa-envelope icon-large fa-2x" style="color: gray;"></i></a></li>
                        </ul>
                    </div>
                </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-12">
                <div class="card card-manager mx-auto" style="width:85%">
                    <div class="card-header">
                      <a href="#">
                        <img class="card-img-top mb-1" src="https://lh3.googleusercontent.com/bUA6-z5oocPznj2DEjFHEhGyB2JNIspVWmYwGELG6E-QLD5k0Dj49npz5shdYsqm2Q8jwgbj6oe_orw1rLXb2rEzsahufejos6gLgVjpYiVTRCwjxPA5vHhAVZrBERl8QcGnYwklscZFa0D2BPa7xVSVaLlogbSse-5gQCnT3Wu05BA8QuVmGuHcbSKBwsDu-Nini9oFpZugTcsAdNNv2IwRFJEDHHg5p2WcZ2p5DGfAnz9Zri1eOCbqUUcHnR1_xgFvVbRaR2LrYieQPD6htzYNeZzYYwNT0dT3ox9_fciwOVoa_DLjIBNWwOVmS_FTOypU1dODTB8st3GSjl-xd9L0P_rLPWtxTGs5H__zGY3cEgVU_xm_eVgZk6sQ6vQXYAl8AhlIbey3946qvl0YA-fuFbmJ9q1_DAfmxkLLCk3lGVlF1oaGdiW5Q35mQyW19ZzzTauCzrNJnukcW5q_MpCoYFzpaeJEOs6MICZuncuSfY8idxqyC5AZxTDoUkRJjPY1OfdTYKtsAGmn1a16lymAMv1fAul6-NYvyBBFJxsaS18XJ_potAdhEt3lCkvzRUEJaqYuG8mupfw_UNLxrTZfqvAFis3XJy0cFdlC7rx_5R9YY00FntoGfGrbt6iGwxcDmur_M4GCJmqOujpRMki1igFacBLBvvZQLrKIjN8pI-eWOYitmaiGXlnx=s632-no?authuser=0" alt="Imagen de gerente">
                      </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Juan Mamani</h4>
                        <p class="card-text card-text-gerencias">GERENTE DE CULTURA Y DEPORTES</p>
                        <ul class="social-media">
                          <li class="social-media-element"><a href="https://www.facebook.com/profile.php?id=100008289983129" class="mx-auto" target="_blank"><i class="fab fa-facebook-square icon-large fa-2x" style="color: gray;"></i></a></li>
                          <li class="social-media-element"><a href="mailto:juamamanicon@est.unap.edu.pe?Subject=Quisiera%20contactar%20contigo" class="mx-auto"><i class="fas fa-envelope icon-large fa-2x" style="color: gray;"></i></a></li>
                        </ul>
                    </div>
                </div>
          </div>
        </div>
          
          
          
      </div>
    </section>
  
  

      
    <!--Esto es el footer-->
 <footer  class="bg-footer py-2 container-fluid" > <!--Esto me hizo sufris, ocurria un error XD :v-->
    
    <div class="row">

      <div class="col-12  col-sm-12 col-md-6 col-lg-3">
        <div class="text-center mb-4"><img src="/img/LOGO2.png" alt=""></div>
      </div>

      <div class="col-12  col-sm-12 col-md-6 col-lg-3">
      <div class="text-center">
        <h3 class=" h5">Déjanos tu Comentario</h3>
        <!--Envíanos tu Comentario-->
        <form action="text" class="mx-3">
            <input class="form-control mr-sm-2 my-2" type="text" placeholder="Nombres" aria-label="Search">
            <input class="form-control mr-sm-2 my-2" type="email" placeholder="Correo Electrónico" aria-label="Search">
            <input class="form-control mr-sm-2 my-2" type="tel" placeholder="Telefono / Celular" aria-label="Search">
            <textarea class="form-control mr-sm-2 my-2" type="text" placeholder="Escribe tu Comentario" aria-label="Search" cols="20" rows="6"></textarea>
            <p class="text-left "> <button  type="button" class="btn btn-light font-weight-bold " id=""> ENVIAR </button>  
        </form> </p>
      </div>
      </div>

      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
      <div class="pl-3">
        <h3 class="text-center h5">Enlaces rápidos</h3>
        <p> <a href="https://web.facebook.com/CIMIC.EPIC"><i class="fab fa-facebook-square"></i> Facebook</a></p>
        <p><i class="fab fa-youtube-square"></i> You Tube</p>
        <p><i class="fab fa-whatsapp-square"></i> Grupo de Whatsapp</p>
      </div>
      </div>

    
      <div class="col-12 col-sm-6 col-md-6 col-lg-3">
      <div class="pl-3">
        <h3 class="text-center h5" >Información de contacto</h3>
        <p> <i class="fas fa-phone-square-alt"></i> +51 974514178</p>
        <p> <i class="fas fa-envelope"></i> cimic.epic@gmail.com</p>
      </div>
      </div>

    </div>

    <div >
        <p class="text-center">Todos los Derechos Reservados <i class="fas fa-copyright"></i> CIMIC</p>
    </div>


 </footer>






  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="/js/bootstrap.min.js"></script>  

  
</body>
</html>
