<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Gerencias de Cimic, conformada por 9 miembros"> 

  <!-- Imagen del favicon + Título-->
  <link rel="shortcut icon" href="/img/favicon.svg">
  <title>Gerencias</title>

  <!-- Link de Bootstrap CSS -->
  <link rel="stylesheet" href="../../css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/styles-roy.css">
  <link rel="stylesheet" href="../../css/styles-wil.css">

  <!-- Link de Fontawesome -->
  <!-- FONTAWESOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">

  
  
</head>
<body>
      <!-- BARRA DE NAVEGACIÓN-->
  <section class="container-fluid">
    <nav class="navbar navbar-expand-lg  navbar-dark  bg-nav fixed-top"> <!-- navbar-(para la letra)  bg-(Color de Fondo Background)-->
        <a class="navbar-brand px-4" href="/index.html">CIMIC</a>
    
        <!-- Esto hace que sea responsive (Menu Hambruguesa como dice Roy)-->    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Estas son las opciones en el Menú--> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent"> 

          <ul class="navbar-nav mr-auto">

            <li class="nav-item"> <!-- Poner clase (activado o disable) para activar o desactivar--> 
              <a class="nav-link active" href="/views/QuienesSomos.html"> <i class="fas fa-address-card"></i>   ¿Quienes somos? <span class="sr-only">(current)</span></a>
            </li>

            
            <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-friends"></i> Miembros</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/views/miembros/general.html"><i class="fas fa-user-tie"></i> Gerencia General</a>
                  <a class="dropdown-item" href="/views/miembros/asesores.html"><i class="fas fa-user-tie"></i> Asesores</a>
                  <a class="dropdown-item" href="/views/miembros/gerencias.html"><i class="fas fa-user-tie"></i> Gerencias</a>
                  <a class="dropdown-item" href="/views/miembros/miembros.html"><i class="fas fa-users"></i> Miembros</a>
                </div>
              </li>


            <li class="nav-item">
              <a class="nav-link active" href="/views/publicaciones.html"> <i class="fas fa-globe-americas"></i> Publicaciones</a>
            </li>

            
            <li class="nav-item">
                <a class="nav-link active" href="/views/eventos.html"><i class="fas fa-calendar-day"></i> Eventos</a>
              </li>
            
          </ul>

          <!-- Parte del buscador--> <!-- 
          <form class="form-inline my-2 my-lg-0 mr-5" >
            <input class="form-control mr-sm-2" type="search" placeholder="¿Que buscaremos?" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
          </form> --> 

  <!-- BOTONES DE INGRESAR O REGISTRARSE--> 
  <div>
      <button type="button pd" class="btn btn-light" data-toggle="modal" data-target="#exampleModa1">Ingresar <i class="fas fa-door-open"></i>   </button>
      <button type="button" class="btn btn-info ml-2" data-toggle="modal" data-target="#exampleModa2">Registrarse <i class="fas fa-sign-in-alt"></i></button>
  </div>
        
  </div>
  </nav>
    </section>

  <!-- Este es el modal de INGRESAR-->
  <div class="modal fade" id="exampleModa1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingresar <i class="fas fa-door-open"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Estamos trabajando en ello, para que tu experiencía sea lo más acogedor posible.
        <div class="text-center"><img src="https://1.bp.blogspot.com/-FbtBa61P17E/Xy7KgugAayI/AAAAAAAACI8/K5_LFNPHUk8cb9yx8zWNNcM9WvdFwlcdgCLcBGAsYHQ/s126/Imagen-animada-Engranajes-15.gif" alt=""></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
  </div>
  <!-- Este es el modal de registrarse-->
  <div class="modal fade" id="exampleModa2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrarse <i class="fas fa-sign-in-alt"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Estamos trabajando en ello, gracias por su comprensión.
        <div class="text-center"><img src="https://1.bp.blogspot.com/-FbtBa61P17E/Xy7KgugAayI/AAAAAAAACI8/K5_LFNPHUk8cb9yx8zWNNcM9WvdFwlcdgCLcBGAsYHQ/s126/Imagen-animada-Engranajes-15.gif" alt=""></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
  </div>

    <!-- CARDS DE GERENTES -->
    <section class="container-fluid management-container">
      <h1 class="management-title mx-auto">GERENCIAS</h1>
  
      <div class="row p-4">
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 col-6">
                <div class="card card-manager mx-auto">
                    <div class="card-header">
                      <a href="/views/miembros/perfiles/cmc05.html">
                        <img class="card-img-top managers-card-img-top mb-1" src="https://1.bp.blogspot.com/-xbzk43vMjzg/XzytN0qDDEI/AAAAAAAAADc/I7PHtb6owOMtevqXXAhRW0G1iIyKe-7_ACPcBGAYYCw/w504-h506/member1101.png" alt="Imagen de gerente">
                      </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><a href="/views/miembros/perfiles/cmc05.html">Jesus Rivera</a></h4>
                        <p class="card-text card-text-gerencias">GERENTE DE PLANIFICACIÓN Y ORGANIZACIÓN</p>
                        <div class="social-media">
                          <ul>
                            <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100006283575486" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a target="_blank" href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
                            <li><a target="_blank" href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="mailto:jriveram@est.unap.edu.pe?Subject=Quisiera%20contactar%20contigo" class="mail"><i class="fas fa-envelope"></i></a></li>
                          </ul>
                        </div>    
                    </div>
                </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 col-6">
            <div class="card card-manager mx-auto">
                <div class="card-header">
                  <a href="/views/miembros/perfiles/cmc08.html">
                    <img class="card-img-top mb-1" src="https://1.bp.blogspot.com/-wVjToAWR8ys/XzytNSwwEyI/AAAAAAAAADQ/tpQ5eL6shaQ6DIxWEhgzCe47XjVpnfBxgCPcBGAYYCw/w503-h506/member1100.png" alt="Imagen de gerente">
                  </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Jhon Condori</h4>
                    <p class="card-text card-text-gerencias">GERENTE DE ASUNTOS ACADÉMICOS</p>
                    <div class="social-media">
                      <ul>
                        <li><a target="_blank" href="https://www.facebook.com/johnstrawr" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a target="_blank" href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
                        <li><a target="_blank" href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="mailto:surdio.123@gmail.com?Subject=Quisiera%20contactar%20contigo" class="mail"><i class="fas fa-envelope"></i></a></li>
                      </ul>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 col-6">
            <div class="card card-manager mx-auto">
                <div class="card-header">
                  <a href="/views/miembros/perfiles/cmc11.html">
                    <img class="card-img-top mb-1" src="https://1.bp.blogspot.com/-1NPtuJgHmGA/X0F3cG_t8gI/AAAAAAAAAHA/f6uTzCfqsC85lq_zotpr9WSH9A92f1N2ACLcBGAsYHQ/s1080/WhatsApp%2BImage%2B2020-08-22%2Bat%2B2.48.30%2BPM.jpeg" alt="Imagen de gerente">
                  </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Jesus Mamani</h4>
                    <p class="card-text card-text-gerencias">GERENTE DE BIENESTAR UNIVERSITARIO</p>
                    <div class="social-media">
                      <ul>
                        <li><a target="_blank" href="https://www.facebook.com/jesussantiago.mamaniaracayo" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a target="_blank" href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
                        <li><a target="_blank" href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="mailto:jesus.mamani.18@gmail.com?Subject=Quisiera%20contactar%20contigo" class="mail"><i class="fas fa-envelope"></i></a></li>
                      </ul>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 col-6">
                <div class="card card-manager mx-auto">
                    <div class="card-header">
                      <a href="/views/miembros/perfiles/cmc06.html">
                        <img class="card-img-top mb-1" src="https://1.bp.blogspot.com/-zOhyRaqngcM/XzytMSuPZuI/AAAAAAAAADU/ThCpOsXxoTkZKwAhSYopJr512jd7nr7CgCPcBGAYYCw/w506-h506/member1010.png" alt="Imagen de gerente">
                      </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><a href="/views/miembros/perfiles/cmc06.html">Diego Callo</a></h4>
                        <p class="card-text card-text-gerencias">GERENTE DE RELACIONES EXTERIORES Y ASUNTOS SOCIALES</p>
                        <div class="social-media">
                          <ul>
                            <li><a target="_blank" href="https://www.facebook.com/diego.ccallo.73" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a target="_blank" href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
                            <li><a target="_blank" href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="mailto:Diegoing5820@gmail.com@gmail.com?Subject=Quisiera%20contactar%20contigo" class="mail"><i class="fas fa-envelope"></i></a></li>
                          </ul>
                        </div>
                    </div>
                </div>
          </div>
          
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 col-6">
                <div class="card card-manager mx-auto">
                    <div class="card-header">
                      <a href="/views/miembros/perfiles/cmc09.html">
                        <img class="card-img-top mb-1" src="https://1.bp.blogspot.com/-LReBgwH9ggs/XzytLy1pnLI/AAAAAAAAADM/E8EGL9tgoWwi_URRuXMqhWeNs2Ww00e_wCPcBGAYYCw/w494-h502/member1001.png" alt="Imagen de gerente">
                      </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><a href="/views/miembros/perfiles/cmc09.html">Yhon Montenegro</a></h4>
                        <p class="card-text card-text-gerencias">GERENTE DE INFRAESTRUCTURA E INFORMÁTICA</p>
                          <div class="social-media">
                            <ul>
                              <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100004177029184" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a target="_blank" href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
                              <li><a target="_blank" href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                              <li><a href="mailto:aprendoingenieria@gmail.com?Subject=Quisiera%20contactar%20contigo" class="mail"><i class="fas fa-envelope"></i></a></li>
                            </ul>
                          </div>
                    </div>
                </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 col-6">
            <div class="card card-manager mx-auto">
                <div class="card-header">
                  <a href="/views/miembros/perfiles/cmc07.html">
                    <img class="card-img-top mb-1" src="https://1.bp.blogspot.com/-uxU73p9vTYQ/XzytMH2PaUI/AAAAAAAAADU/_GSrYPhtwUULgl1jrayM6gJvwH5jwGxiACPcBGAYYCw/w506-h506/member101.png" alt="Imagen de gerente">
                  </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title"><a href="/views/miembros/perfiles/cmc07.html">Hever Apaza</a></h4>
                    <p class="card-text card-text-gerencias">GERENTE DE INVESTIGACIÓN Y DIFUSIÓN CIENTIFICA</p>
                    <div class="social-media">
                      <ul>
                        <li><a target="_blank" href="https://www.facebook.com/heverjared.apazaortega.7" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a target="_blank" href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
                        <li><a target="_blank" href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="mailto:sk8jahe@gmail.com?Subject=Quisiera%20contactar%20contigo" class="mail"><i class="fas fa-envelope"></i></a></li>
                      </ul>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 col-6">
            <div class="card card-manager mx-auto">
                <div class="card-header">
                  <a href="/views/miembros/perfiles/cmc10.html">
                    <img class="card-img-top mb-1" src="https://1.bp.blogspot.com/-2IgyMtP_KTk/XzytLmQ7kGI/AAAAAAAAADY/Qui_WqoyqT0C7o1a7L9hDJ1SM4Sqq3KQgCPcBGAYYCw/w506-h506/member1000.png" alt="Imagen de gerente">
                  </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title"><a href="/views/miembros/perfiles/cmc10.html">Flor de Liz Paye</a></h4>
                    <p class="card-text card-text-gerencias">GERENTE DE PROYECCIÓN SOCIAL</p>
                    <div class="social-media">
                      <ul>
                        <li><a target="_blank" href="https://www.facebook.com/DelizPQ" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a target="_blank" href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
                        <li><a target="_blank" href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="mailto:flordelizpq4@gmail.com?Subject=Quisiera%20contactar%20contigo" class="mail"><i class="fas fa-envelope"></i></a></li>
                      </ul>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 col-6">
                <div class="card card-manager mx-auto">
                    <div class="card-header">
                      <a href="/views/miembros/perfiles/cmc12.html">
                        <img class="card-img-top mb-1" src="https://1.bp.blogspot.com/-MW6PcU3rPIM/XzytNJHunZI/AAAAAAAAADc/mcemvcgMuQsHUUGEMGZDeKrR7jXAfd38ACPcBGAYYCw/w506-h506/member11.png" alt="Imagen de gerente">
                      </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><a href="/views/miembros/perfiles/cmc12.html">Juan Wilmer Mamani</a></h4>
                        <p class="card-text card-text-gerencias">GERENTE DE PRENSA Y MARKETING</p>
                        <div class="social-media">
                          <ul>
                            <li><a target="_blank" href="https://www.facebook.com/wimactron" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a target="_blank" href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
                            <li><a target="_blank" href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="mailto:jwimac.14@gmail.com?Subject=Quisiera%20contactar%20contigo" class="mail"><i class="fas fa-envelope"></i></a></li>
                          </ul>
                        </div>
                    </div>
                </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 col-6">
                <div class="card card-manager mx-auto last-card-manager">
                    <div class="card-header">
                      <a href="/views/miembros/perfiles/cmc13.html">
                        <img class="card-img-top mb-1" src="https://1.bp.blogspot.com/-8BFs5mejr9U/XzytMx4lxdI/AAAAAAAAADU/VA8HN9Fj6Ao7EtnM_RaRHADCMH03XEELwCPcBGAYYCw/w506-h506/member1011.png" alt="Imagen de gerente">
                      </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><a href="/views/miembros/perfiles/cmc13.html">Juan Mamani</a></h4>
                        <p class="card-text card-text-gerencias">GERENTE DE CULTURA Y DEPORTES</p>
                        <div class="social-media">
                          <ul>
                            <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100008289983129" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a target="_blank" href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
                            <li><a target="_blank" href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="mailto:juamamanicon@est.unap.edu.pe?Subject=Quisiera%20contactar%20contigo" class="mail"><i class="fas fa-envelope"></i></a></li>
                          </ul>
                        </div>
                    </div>
                </div>
          </div>
        </div>
          
          
          
      </div>
    </section>
  
  

    <!--Esto es el footer-->
    <footer  class="bg-footer py-2 container-fluid" > <!--Esto me hizo sufris, ocurria un error XD :v-->
    
      <div class="row">
  
        <div class="col-12  col-sm-12 col-md-6 col-lg-3">
          <div class="text-center mb-4"><img src="../../img/Logo Cimic - Oficial.png" alt="" width="50%"></div>
          <!-- Contador de visitas -->
          <div class="text-center pb-4 mb-2">
            <a>
            <img style="border: 0px solid; display: inline;" alt="contador de visitas" src="http://www.websmultimedia.com/contador-de-visitas.php?id=287132">
            </a>
          </div>
          <!-- Fin Contador de visitas -->
        </div>
  
        <div class="col-12  col-sm-12 col-md-6 col-lg-3">
        <div class="text-center">
          <h3 class=" h5">Déjanos tu Comentario</h3>
          <!--Envíanos tu Comentario-->
          <form action="text" class="mx-3">
              <input class="form-control mr-sm-2 my-2" name="nombre" type="text" placeholder="Nombres" aria-label="Search" 
              required>
              <input class="form-control mr-sm-2 my-2" name="correo" type="email" placeholder="Correo Electrónico" aria-label="Search" 
              required>
              <input class="form-control mr-sm-2 my-2" name="telefono" type="tel" placeholder="Telefono / Celular" aria-label="Search" 
              required>
              <textarea class="form-control mr-sm-2 my-2" name="mensaje" type="text" placeholder="Escribe tu Comentario" aria-label="Search" cols="20" rows="6" 
              required></textarea>
              <p class="text-left "> <button  type="submit" class="btn btn-light font-weight-bold " id=""> ENVIAR </button>  
          </form> </p>
        </div>
        </div>
  
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="pl-1">
          <h3 class="text-center h5">Enlaces rápidos</h3>
          <p > <a target="_blank" class="fb" href="https://web.facebook.com/CIMIC.EPIC"><i class="fab fa-facebook-square"></i> Facebook</a></p>
          <p > <a target="_blank" class="ytube" href="https://www.youtube.com/channel/UC6pqVJdqwCxV0CQS4LtxuRg"><i class="fab fa-youtube-square"></i> You Tube</a></p>
          
        </div>
        </div>
  
      
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="pl-3">
          <h3 class="text-center h5" >Información de contacto</h3>
          <p> <i class="fas fa-phone-square-alt"></i> 957 474 568</p>
          <p> <i class="fas fa-envelope"></i> cimic.peru@gmail.com</p>
        </div>
        </div>
  
      </div>
  
      <div >
        <div class="row"> 
          <div class="col-12 ">
             <p class="text-center"><i class="fas fa-copyright"></i> CIMIC 2021. Todos los Derechos Reservados.  </p>
          </div>
          
        </div>
         
      </div>
   </footer>

  <!-- BOTON DE IR ARRIBA-->
  <span id="button-up"> 
    <i class="fas fa-chevron-up"></i>
  </span>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="../../js/bootstrap.min.js"></script>  
  <script src="../../js/wilder.js"></script>  
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f42d761f589a983"></script>
    
      
</body>
</html>
