<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>

      <!-- Imagen del favicon + Título-->
    <link rel="shortcut icon" href="/img/favicon.svg">

    <!-- Link de Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/styles-roy.css">
    <link rel="stylesheet" href="../css/styles-wil.css">

    <!-- Link de Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">

</head>
<body>
  <!-- BARRA DE NAVEGACIÓN-->
  <section class="container-fluid">
    <nav class="navbar navbar-expand-lg  navbar-dark  bg-nav fixed-top"> <!-- navbar-(para la letra)  bg-(Color de Fondo Background)-->
        <a class="navbar-brand px-4" href="/index.html">CIMIC</a>
    
        <!-- Esto hace que sea responsive (Menu Hambruguesa como dice Roy)-->    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Estas son las opciones en el Menú--> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent"> 

          <ul class="navbar-nav mr-auto">

            <li class="nav-item"> <!-- Poner clase (activado o disable) para activar o desactivar--> 
              <a class="nav-link" href="QuienesSomos.html"> <i class="fas fa-address-card"></i>   ¿Quienes somos? <span class="sr-only">(current)</span></a>
            </li>

            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-friends"></i> Miembros</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/views/miembros/general.html"><i class="fas fa-user-tie"></i> Gerencia General</a>
                  <a class="dropdown-item" href="/views/miembros/asesores.html"><i class="fas fa-user-tie"></i> Asesores</a>
                  <a class="dropdown-item" href="/views/miembros/gerencias.html"><i class="fas fa-user-tie"></i> Gerencias</a>
                  <a class="dropdown-item" href="/views/miembros/miembros.html"><i class="fas fa-users"></i> Miembros</a>
                </div>
              </li>


            <li class="nav-item">
              <a class="nav-link" href="/views/publicaciones.html"> <i class="fas fa-globe-americas"></i> Publicaciones</a>
            </li>

            
            <li class="nav-item">
                <a class="nav-link" href="/views/eventos.html"><i class="fas fa-calendar-day"></i> Eventos</a>
              </li>
            
          </ul>

          <!-- Parte del buscador--> <!-- 
          <form class="form-inline my-2 my-lg-0 mr-5" >
            <input class="form-control mr-sm-2" type="search" placeholder="¿Que buscaremos?" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
          </form> --> 

  <!-- BOTONES DE INGRESAR O REGISTRARSE--> 
  <div>
      <button type="button pd" class="btn btn-light" data-toggle="modal" data-target="#exampleModa1">Ingresar <i class="fas fa-door-open"></i>   </button>
      <button type="button" class="btn btn-info ml-2" data-toggle="modal" data-target="#exampleModa2">Registrarse <i class="fas fa-sign-in-alt"></i></button>
  </div>
        
  </div>
  </nav>
    </section>

  <!-- Este es el modal de INGRESAR-->
  <div class="modal fade" id="exampleModa1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingresar <i class="fas fa-door-open"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Estamos trabajando en ello, para que tu experiencía sea lo más acogedor posible.
        <div class="text-center"><img src="https://1.bp.blogspot.com/-FbtBa61P17E/Xy7KgugAayI/AAAAAAAACI8/K5_LFNPHUk8cb9yx8zWNNcM9WvdFwlcdgCLcBGAsYHQ/s126/Imagen-animada-Engranajes-15.gif" alt=""></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
  </div>
  <!-- Este es el modal de registrarse-->
  <div class="modal fade" id="exampleModa2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrarse <i class="fas fa-sign-in-alt"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Estamos trabajando en ello, gracias por su comprensión.
        <div class="text-center"><img src="https://1.bp.blogspot.com/-FbtBa61P17E/Xy7KgugAayI/AAAAAAAACI8/K5_LFNPHUk8cb9yx8zWNNcM9WvdFwlcdgCLcBGAsYHQ/s126/Imagen-animada-Engranajes-15.gif" alt=""></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
  </div>

    <!-- LISTA DE EVENTOS -->
    <section class="main-events">
    <div class="container-fluid mt-5 pt-5">
      <h1 class="events-title mx-auto">EVENTOS CIMIC</h1>
      <div class="row p-4">
        <!-- EVENTO -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-12">
          <div class="card card-event">
            <img src="/img/evento-4.png" alt="Miniatura del evento 1" class="card-event-img">
            <div class="card-body">
              <h3 class="event-card-title">WORKSHOP VIRTUAL GRATUITO DE PRESUPUESTOS.PE</h3>
              <h5>FECHA: 24 al 28 de agosto | 7:00 pm</h5>
              <!-- <p class="event-card-text">Aprenda a manejar presupuestos.pe, el software de última generación para realizar presupuestos y cronogramas de obra en tiempo record y en cualquier dispositivo.</p>
              <p class="event-card-tags">TAGS: Workshop, costos, presupuestos, aplicación web.</p> -->
              <div class="btn-group mx-auto btn-group-events">
                <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSd06Jcv12YvsnX5BcHQtKy8Ey9hwxJi7DxCC939RiJ8VCZFMA/viewform" class="btn btn-dark bg-footer"><b>INSCRIBIRME!</b></a>
                <a href="/views/eventos/evento-4.html" class="btn btn-danger bg-nav"><b>VER MÁS</b></a>
              </div>
            </div>
          </div>
        </div>
        <!-- EVENTO -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-12">
          <div class="card card-event">
            <img src="/img/evento-3.png" alt="Miniatura del evento 1" class="card-event-img">
            <div class="card-body">
              <h3 class="event-card-title">INTRODUCCIÓN A PRESUPUESTOS.PE</h4>
              <h5>FECHA: 20/08/2020 | 7:00 pm</h5>
              <!-- <p class="event-card-text">Conozca qué es el software de última generación, llamado presupuestos.pe y como hacer proyectos en tiempo record y de calidad.</p>
              <p class="event-card-tags">TAGS: Costos, presupuestos, aplicación web.</p> -->
              <div class="btn-group mx-auto btn-group-events">
                <a target="_blank" href="https://docs.google.com/forms/d/1EExK4SbxGNaEu8cyFRm9qvkkBaAeUsho9hcpjAalCIM/edit#responses" class="btn btn-dark bg-footer"><b>INSCRIBIRME!</b></a>
                <a href="/views/eventos/evento-3.html" class="btn btn-danger bg-nav"><b>VER MÁS</b></a>
              </div>
            </div>
          </div>
        </div>
        <!-- EVENTO -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-12">
          <div class="card card-event">
            <img src="/img/evento-2.png" alt="Miniatura del evento 1" class="card-event-img">
            <div class="card-body">
              <h3 class="event-card-title">LIDERAZGO PARA LA INGENIERÍA</h4>
              <h5>FECHA: 24/07/2020 | 7:00 pm</h5>
              <!-- <p class="event-card-text">Aprende a gestionar tu inteligencia emocional y usarla en tu vida profesional.</p>
              <p class="event-card-tags">TAGS: Liderazgo, ingeniería, inteligencia emocional.</p> -->
              <div class="btn-group mx-auto btn-group-events">
                <a target="_blank" href="https://docs.google.com/forms/d/1EExK4SbxGNaEu8cyFRm9qvkkBaAeUsho9hcpjAalCIM/edit#responses" class="btn btn-dark bg-footer"><b>INSCRIBIRME!</b></a>
                <a href="/views/eventos/evento-2.html" class="btn btn-danger bg-nav"><b>VER MÁS</b></a>
              </div>
            </div>
          </div>
        </div>
      
      </div>
    </div>
    </section>



        <!--Esto es el footer-->
        <footer  class="bg-footer py-2 container-fluid" > 
    
          <div class="row">
      
            <div class="col-12  col-sm-12 col-md-6 col-lg-3">
              <div class="text-center mb-4"><img src="../../img/LOGO2.png" alt=""></div>
            </div>
      
            <div class="col-12  col-sm-12 col-md-6 col-lg-3">
              <!-- FORMULARIO DE CONTACTO Y/0 COMENTARIO -->
            <div class="text-center">
              <h3 class=" h5">Envíanos un Mensaje:</h3>
               <!--Envíanos tu Comentario-->
              <form action="text" class="mx-3" method="post" action="../../js/enviar.php">
                  <input class="form-control mr-sm-2 my-2" name="nombre" type="text" placeholder="Nombres" aria-label="Search" required>
                  <input class="form-control mr-sm-2 my-2" name="correo" type="email" placeholder="Correo Electrónico" aria-label="Search" required>
                  <input class="form-control mr-sm-2 my-2" name="telefono" type="tel" placeholder="Telefono / Celular" aria-label="Search"  required>
                  <textarea class="form-control mr-sm-2 my-2" name="mensaje" type="text" placeholder="Escribe tu Comentario" aria-label="Search" cols="20" rows="6" required></textarea>
                  <p class="text-left "> <button  type="submit" class="btn btn-light font-weight-bold " id=""> ENVIAR </button> </p> 
              </form> 
            </div>
            </div>
      
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div class="pl-3">
              <h3 class="text-center h5">Enlaces rápidos</h3>
              <p > <a target="_blank" class="fb" href="https://web.facebook.com/CIMIC.EPIC"><i class="fab fa-facebook-square"></i> Facebook</a></p>
              <p > <a target="_blank" class="ytube" href="https://www.youtube.com/channel/UCpUZrU2-GbjU8FAWG3zKUCw/featured?view_as=subscriber"><i class="fab fa-youtube-square"></i> You Tube</a></p>
              
            </div>
            </div>
      
          
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div class="pl-3">
              <h3 class="text-center h5" >Información de contacto</h3>
              <p> <i class="fas fa-phone-square-alt"></i> 957 474 568</p>
              <p> <i class="fas fa-envelope"></i> cimic.epicpuno@gmail.com</p>
            </div>
            </div>
      
          </div>
      
          <div >
            <div class="row"> 
              <div class="col-12 ">
                <p class="text-center">Todos los Derechos Reservados <i class="fas fa-copyright"></i> CIMIC</p>
              </div>
              <div class="col-12 ">
                <p class="text-center">Designed by: 
                  <a href="views/miembros/perfiles/cmc09.html">Wilder</a> 
                  & 
                  <a href="views/miembros/perfiles/cmc04.html">Roy</a></p>
              </div>
            </div>
             
          </div>
       </footer>
    
      <!-- BOTON DE IR ARRIBA-->
      <span id="button-up"> 
        <i class="fas fa-chevron-up"></i>
      </span>
        
        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="../../js/bootstrap.min.js"></script>  
        <script src="../../js/wilder.js"></script>  
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f42d761f589a983"></script>
    
        
</body>
</html>
