<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Centro de Investigacion Multidiciplinario
   en la Ingenieria & Construccion de la Universidad Nacional del Altiplano-Puno"> 

  <!-- Imagen del favicon + Título-->
  <link rel="shortcut icon" href="../img/favicon.svg">
  <title>Quienes Somos</title>

  <!-- Link de Bootstrap CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/styles-roy.css">
  <link rel="stylesheet" href="../css/styles-wil.css">

  <!-- Link de Fontawesome -->
  <link rel="stylesheet" href="../Fontawesome/css/all.css">

  
</head>
<body>
  <!-- BARRA DE NAVEGACIÓN-->
  <section class="container-fluid">
    <nav class="navbar navbar-expand-lg  navbar-dark  bg-nav fixed-top py-2"> <!-- navbar-(para la letra)  bg-(Color de Fondo Background)-->
        <a class="navbar-brand px-4" href="https://www.cimicperu.com/">CIMIC</a>
    
        <!-- Esto hace que sea responsive (Menu Hambruguesa como dice Roy)-->    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Estas son las opciones en el Menú--> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent"> 

          <ul class="navbar-nav mr-auto">

            <li class="nav-item"> <!-- Poner clase (activado o disable) para activar o desactivar--> 
              <a class="nav-link active" href="QuienesSomos.html"> <i class="fas fa-address-card"></i>   ¿Quienes somos? <span class="sr-only">(current)</span></a>
            </li>

            
            <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-friends"></i> Miembros</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/views/miembros/general.html"><i class="fas fa-user-tie"></i> Gerencia General</a>
                  <a class="dropdown-item" href="/views/miembros/asesores.html"><i class="fas fa-user-tie"></i> Asesores</a>
                  <a class="dropdown-item" href="/views/miembros/gerencias.html"><i class="fas fa-user-tie"></i> Gerencias</a>
                  <a class="dropdown-item" href="/views/miembros/miembros.html"><i class="fas fa-users"></i> Miembros</a>
                </div>
              </li>


            <li class="nav-item">
              <a class="nav-link active" href="/views/publicaciones.html"> <i class="fas fa-globe-americas"></i> Publicaciones</a>
            </li>

            
            <li class="nav-item">
                <a class="nav-link active" href="/views/eventos.html"><i class="fas fa-calendar-day"></i> Eventos</a>
              </li>
            
          </ul>

          <!-- Parte del buscador--> <!-- 
          <form class="form-inline my-2 my-lg-0 mr-5" >
            <input class="form-control mr-sm-2" type="search" placeholder="¿Que buscaremos?" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
          </form> --> 

<!-- BOTONES DE INGRESAR O REGISTRARSE--> 
 <div>
      <button type="button pd" class="btn btn-light" data-toggle="modal" data-target="#exampleModa1">Ingresar <i class="fas fa-door-open"></i>   </button>
      <button type="button" class="btn btn-info ml-2" data-toggle="modal" data-target="#exampleModa2">Registrarse <i class="fas fa-sign-in-alt"></i></button>
 </div>
        
</div>
  </nav>
    </section>

<!-- Este es el modal de INGRESAR-->
<div class="modal fade" id="exampleModa1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingresar <i class="fas fa-door-open"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Estamos trabajando en ello, para que tu experiencía sea lo más acogedor posible.
        <div class="text-center"><img src="https://1.bp.blogspot.com/-FbtBa61P17E/Xy7KgugAayI/AAAAAAAACI8/K5_LFNPHUk8cb9yx8zWNNcM9WvdFwlcdgCLcBGAsYHQ/s126/Imagen-animada-Engranajes-15.gif" alt=""></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<!-- Este es el modal de registrarse-->
<div class="modal fade" id="exampleModa2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrarse <i class="fas fa-sign-in-alt"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        En Construcción.
        <div class="text-center"><img src="https://1.bp.blogspot.com/-FbtBa61P17E/Xy7KgugAayI/AAAAAAAACI8/K5_LFNPHUk8cb9yx8zWNNcM9WvdFwlcdgCLcBGAsYHQ/s126/Imagen-animada-Engranajes-15.gif" alt=""></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
  
  
<!--Quienes somos?"-->
  <div class="container">
    <br><br><br>
    <div class="row">
      
      <div class="col-6">
        <div class="text-center mb-4"><img src="https://1.bp.blogspot.com/-To3_aEdlS80/YKCDIpZpnQI/AAAAAAAAAR4/ufqB93hYkE8c6PW9JcpNsIjABQtAxW1nQCLcBGAsYHQ/s16000/Quienes%2Bsomos%2BCimic.jpeg" alt="" width="50%"></div>
      </div>
      
      <div class="col-6">
        <h1 class="text-center"> ¿Quienes Somos? </h1> 
        <p class="text-center"> El Centro de Investigación Multidisciplinario en la Ingeniería & Construcción de la Universidad Nacional del Altiplano-Puno, cuya denominación es "CIMIC", es un órgano representativo autónomo de los estudiantes de pregrado de Ingeniería Civil.</p> 
        <p class="text-center"> Desde su fundación en el 2015 viene logrando la mejora continua de sus miembros, el desarrollo de habilidades y aportando a la sociedad en general. </p> 
      </div> 
      
      <div class="col-6">
        <h1 class="text-center"> MISIÓN </h1> 
        <p>
          Potenciar el conocimiento ingenieril, empoderar las habilidades sociales y desarrollar capacidades de emprendimiento en los estudiantes de Ingeniería Civil, Carreras afines y personas con deseo de trascender, contribuyendo en la mejora continua de la sociedad.
        </p>
      </div>  
      
      <div class="col-6">
        <h1 class="text-center"> VISIÓN </h1> 
        <p>
          Nuestra Visión al 2022 es Ser un centro de investigación de carácter empresarial reconocido a nivel nacional e internacional por la mejora continua de sus miembros con liderazgo en el ámbito académico y social; con la férrea ideología de trascender contribuyendo con el desarrollo de la sociedad en general.        </p>       
      </div>
      
      
     </div>  
   </div> 
  
  <!--Quienes somos?"-->
    
    
    




    <!--Inicio del footer-->
    
  
  <!-- BOTON DE IR ARRIBA-->
  <span id="button-up"> 
    <i class="fas fa-chevron-up"></i>
  </span>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="../js/bootstrap.min.js"></script>  
  <script src="../js/wilder.js"></script>  
</body>
</html>
