<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Centro de Investigacion Multidiciplinario
   en la Ingenieria & Construccion de la Universidad Nacional del Altiplano-Puno"> 

  <!-- Imagen del favicon + Título-->
  <link rel="shortcut icon" href="../img/favicon.svg">
  <title>Quienes Somos</title>

  <!-- Link de Bootstrap CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/styles-roy.css">
  <link rel="stylesheet" href="../css/styles-wil.css">

  <!-- Link de Fontawesome -->
  <link rel="stylesheet" href="../Fontawesome/css/all.css">

  
</head>
<body>
  <!-- BARRA DE NAVEGACIÓN-->
  <section class="container-fluid">
    <nav class="navbar navbar-expand-lg  navbar-dark  bg-nav fixed-top py-2"> <!-- navbar-(para la letra)  bg-(Color de Fondo Background)-->
        <a class="navbar-brand px-4" href="https://www.cimicperu.com/">CIMIC</a>
    
        <!-- Esto hace que sea responsive (Menu Hambruguesa como dice Roy)-->    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Estas son las opciones en el Menú--> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent"> 

          <ul class="navbar-nav mr-auto">

            <li class="nav-item"> <!-- Poner clase (activado o disable) para activar o desactivar--> 
              <a class="nav-link active" href="QuienesSomos.html"> <i class="fas fa-address-card"></i>   ¿Quienes somos? <span class="sr-only">(current)</span></a>
            </li>

            
            <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-friends"></i> Miembros</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/views/miembros/general.html"><i class="fas fa-user-tie"></i> Gerencia General</a>
                  <a class="dropdown-item" href="/views/miembros/asesores.html"><i class="fas fa-user-tie"></i> Asesores</a>
                  <a class="dropdown-item" href="/views/miembros/gerencias.html"><i class="fas fa-user-tie"></i> Gerencias</a>
                  <a class="dropdown-item" href="/views/miembros/miembros.html"><i class="fas fa-users"></i> Miembros</a>
                </div>
              </li>


            <li class="nav-item">
              <a class="nav-link active" href="/views/publicaciones.html"> <i class="fas fa-globe-americas"></i> Publicaciones</a>
            </li>

            
            <li class="nav-item">
                <a class="nav-link active" href="/views/eventos.html"><i class="fas fa-calendar-day"></i> Eventos</a>
              </li>
            
          </ul>

          <!-- Parte del buscador--> <!-- 
          <form class="form-inline my-2 my-lg-0 mr-5" >
            <input class="form-control mr-sm-2" type="search" placeholder="¿Que buscaremos?" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
          </form> --> 

<!-- BOTONES DE INGRESAR O REGISTRARSE--> 
 <div>
      <button type="button pd" class="btn btn-light" data-toggle="modal" data-target="#exampleModa1">Ingresar <i class="fas fa-door-open"></i>   </button>
      <button type="button" class="btn btn-info ml-2" data-toggle="modal" data-target="#exampleModa2">Registrarse <i class="fas fa-sign-in-alt"></i></button>
 </div>
        
</div>
  </nav>
    </section>

<!-- Este es el modal de INGRESAR-->
<div class="modal fade" id="exampleModa1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingresar <i class="fas fa-door-open"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Estamos trabajando en ello, para que tu experiencía sea lo más acogedor posible.
        <div class="text-center"><img src="https://1.bp.blogspot.com/-FbtBa61P17E/Xy7KgugAayI/AAAAAAAACI8/K5_LFNPHUk8cb9yx8zWNNcM9WvdFwlcdgCLcBGAsYHQ/s126/Imagen-animada-Engranajes-15.gif" alt=""></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<!-- Este es el modal de registrarse-->
<div class="modal fade" id="exampleModa2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrarse <i class="fas fa-sign-in-alt"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        En Construcción.
        <div class="text-center"><img src="https://1.bp.blogspot.com/-FbtBa61P17E/Xy7KgugAayI/AAAAAAAACI8/K5_LFNPHUk8cb9yx8zWNNcM9WvdFwlcdgCLcBGAsYHQ/s126/Imagen-animada-Engranajes-15.gif" alt=""></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
  
  
<!--Quienes somos?"-->
  <div class="container">
    <br><br><br>
    <div class="row">
      
      <div class="col-sm-12 col-lg-6">
        <div class="text-center mb-4"><img src="https://1.bp.blogspot.com/-To3_aEdlS80/YKCDIpZpnQI/AAAAAAAAAR4/ufqB93hYkE8c6PW9JcpNsIjABQtAxW1nQCLcBGAsYHQ/s16000/Quienes%2Bsomos%2BCimic.jpeg" alt="" width="50%"></div>
      </div>
      
      <div class="col-sm-12 col-lg-6">
        <h1 class="text-center"> ¿Quienes Somos? </h1> 
        <p class="text-center"> El Centro de Investigación Multidisciplinario en la Ingeniería & Construcción de la Universidad Nacional del Altiplano-Puno, cuya denominación es "CIMIC", es un órgano representativo autónomo de los estudiantes de pregrado de Ingeniería Civil.</p> 
        <p class="text-center"> Desde su fundación en el 2015 viene logrando la mejora continua de sus miembros, el desarrollo de habilidades y aportando a la sociedad en general. </p> 
      </div> 
      
      <div class="col-sm-12 col-lg-6">
        <h1 class="text-center"> MISIÓN </h1> 
        <p>
          Potenciar el conocimiento ingenieril, empoderar las habilidades sociales y desarrollar capacidades de emprendimiento en los estudiantes de Ingeniería Civil, Carreras afines y personas con deseo de trascender, contribuyendo en la mejora continua de la sociedad.
        </p>
      </div>  
      
      <div class="col-sm-12 col-lg-6">
        <h1 class="text-center"> VISIÓN </h1> 
        <p>
          Nuestra Visión al 2022 es Ser un centro de investigación de carácter empresarial reconocido a nivel nacional e internacional por la mejora continua de sus miembros con liderazgo en el ámbito académico y social; con la férrea ideología de trascender contribuyendo con el desarrollo de la sociedad en general.        
        </p>       
      </div>
      
     </div>  
   </div> 
  
    <!--NUESTROS ALIADOS-->
   <div class="container-fluid bg-nav py-1 pt-2">
    <div class="container">
      <h1 class="text-center text-white">NUESTROS ALIADOS</h1>
    </div>
  </div>

    <!--NUESTROS ALIADOS-->
    <div class="container-fluid fondo-negro">
    <div class="container">     
      <br>
      <div class="row">
          <!--Presupuestos.pe-->
        <div class="col-12 col-sm-6 col-lg-3">
          <br>
          <img src="https://1.bp.blogspot.com/-L2f1W6l3d_w/YKCYPvDwuQI/AAAAAAAAASA/IUuFoAcdK1olMDqLM2laA5u22BDnloN5wCLcBGAsYHQ/s320/1.png" class="w-100" alt="">
        </div>
        <div class="col-12 col-sm-6  col-lg-3">
          <h3 class="text-white text-center"> PRESUPUESTOS.PE</h3>
          <p class="text-white text-center"> El software profesional de última generación para la elaboración y programación de presupuestos de Obra. Con módulo de programación integrado, Catálogos de Insumos y partidas</p>
          <p class="text-white text-center"> Bajo de Dirección del Ingeniero Walter Ibáñez Olivares</p>
          <div class="text-center ">
             <a href="https://presupuestos.pe/" target="_blank"> <button type="button" class="btn bg-nav px-4 text-white"> IR </button> </a>
          </div>
        </div>
          <!--Fbe Institute-->
          <div class="col-12 col-sm-6  col-lg-3">
            <br>
            <img src="https://1.bp.blogspot.com/-WAsB0eoG36k/YKCYPp1o-ZI/AAAAAAAAASE/uPP4z5mIPaYAa9b2df618o8eM9-YYs-pQCLcBGAsYHQ/s320/2.png" class="w-100" alt="">
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <h3 class="text-white text-center"> FBE ISTITUTE </h3>
            <p class="text-white text-center"> Inició sus actividades en 2019, con el objetivo principal de ser una empresa líder en Capacitación, Consultoría y ejecución de obras civiles, a fin de dar un servicio de calidad al servicio de la sociedad, tenemos como prioridad innovar con tecnología acorde a la exigencia del mercado actual.</p>
            <div class="text-center ">
              <a href="https://presupuestos.pe/" target="_blank"> <button type="button" class="btn bg-nav px-4 text-white"> IR </button> </a>
            </div>
            <br>
          </div>
          <!--Fbe Institute-->
          <div class="col-12 col-sm-6  col-lg-3">
            <br>
            <img src="https://1.bp.blogspot.com/-u-zEIdo7mo4/YKCYPtvHA4I/AAAAAAAAASI/vv3Rz0Y7SeIK3OS0blSuuquws3rdyHrmgCLcBGAsYHQ/s320/3.png" class="w-100" alt="">
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <h3 class="text-white text-center"> PRO MANAGAMENT</h3>
            <p class="text-white text-center"> Somos un grupo profesionales con amplia experiencia en el sector construcción, quienes actúan comprometidos con su trabajo; para brindarles el mejor servicio de capacitación en metodologías, herramientas y tendencias del rubro de la construcción, esto con el fin de cumplir con las exigencias del mercado.</p>
            <div class="text-center ">
              <a href="https://presupuestos.pe/" target="_blank"> <button type="button" class="btn bg-nav px-4 text-white"> IR </button> </a>
            </div>
            <br>
          </div>
          <!--Fbe Institute-->
          <div class="col-12 col-sm-6 col-lg-3">
            <br>
            <img src="https://1.bp.blogspot.com/-Id-8H_38QF8/YKCYP9FociI/AAAAAAAAASM/uG9WQz3YGswLgV9gLHIDnRjma8yKofs3ACLcBGAsYHQ/s320/4.png" class="w-100" alt="">
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <h3 class="text-white text-center"> BIS INGENIERIA Y CONSTRUCCION S.A.</h3>
            <p class="text-white text-center">Es una empresa dedicada al diseño, desarrollo y gestión de proyectos de ingeniería, asesorías y capacitaciones.</p>
            <div class="text-center ">
              <a href="https://presupuestos.pe/" target="_blank"> <button type="button" class="btn bg-nav px-4 text-white"> IR </button> </a>
            </div>
            <br>
          </div>
          <!--Fbe Institute-->
          <div class="col-12  col-sm-6  col-lg-3">
            <br>
            <img src="https://1.bp.blogspot.com/-QSL-ph1BlDw/YKCYP4qubqI/AAAAAAAAASQ/guOfs9kw2TkLctXJ2EfhtrKYDaS_q2hQQCLcBGAsYHQ/s320/5.png" class="w-100" alt="">
          </div>
          <div class="col-12  col-sm-6  col-lg-3">
            <h3 class="text-white text-center"> GRUPO CIMIC S.A.C.</h3>
            <p class="text-white text-center">Un grupo que participa en el desarrollo de sectores clave para la economía como las infraestructuras y la energía. Una empresa comprometida con el progreso económico y social.</p>
            <div class="text-center ">
              <a href="https://grupocimic.com/" target="_blank"> <button type="button" class="btn bg-nav px-4 text-white"> IR </button> </a>
            </div>
            <br>
          </div>
          <!--Fbe Institute-->
          <div class="col-12 col-sm-6  col-lg-3">
            <br>
            <img src="https://1.bp.blogspot.com/-TyUpLirC3uk/YKCYP9KwmzI/AAAAAAAAASU/--LiDu1lbugh7IZXGwIhn6sVCnt8GYETQCLcBGAsYHQ/s320/6.png" class="w-100" alt="">
          </div>
          <div class="col-12  col-sm-6  col-lg-3">
            <h3 class="text-white text-center"> DJA COMPANY</h3>
            <p class="text-white text-center">Somos una empresa innovadora dedicada a la Capacitación, Consultoría y Construcción. Con alcance regional y nacional, contamos con profesionales capacitados para brindarles un servicio de calidad en todos nuestros servicios.</p>
            <div class="text-center ">
              <a href="https://www.facebook.com/dja.companysac" target="_blank"> <button type="button" class="btn bg-nav px-4 text-white"> IR </button> </a>
            </div>
            <br>
          </div>
      </div>
    </div>
    <br><br>
    </div>

    <div class="container-fluid bg-nav py-2">
      <div class="container">
        <p class="text-white text-center">"Reunirse es el comienzo, mantenerse juntos es el progreso, trabajar juntos es el éxito"</p>
        <p class="text-white text-right pr-4">-HENRY FORD</p>
      </div>
    </div>
    
    




    <!--Inicio del footer-->
    
  
  <!-- BOTON DE IR ARRIBA-->
  <span id="button-up"> 
    <i class="fas fa-chevron-up"></i>
  </span>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="../js/bootstrap.min.js"></script>  
  <script src="../js/wilder.js"></script>  
</body>
</html>
