<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso: 1</title>

      <!-- Imagen del favicon + Título-->
    <link rel="shortcut icon" href="/img/favicon.svg">

    <!-- Link de Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles-roy.css">
    <link rel="stylesheet" href="/css/styles-wil.css">

    <!-- Link de Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">

    <!-- GOOGLE FONT - ALATA -->
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text:wght@600&display=swap" rel="stylesheet">
</head>
<body>
      <!-- BARRA DE NAVEGACIÓN-->
  <section class="container-fluid">
    <nav class="navbar navbar-expand-lg  navbar-dark  bg-nav fixed-top"> <!-- navbar-(para la letra)  bg-(Color de Fondo Background)-->
        <a class="navbar-brand px-4" href="/index.html">CIMIC</a>
    
        <!-- Esto hace que sea responsive (Menu Hambruguesa como dice Roy)-->    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Estas son las opciones en el Menú--> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent"> 

          <ul class="navbar-nav mr-auto">

            <li class="nav-item"> <!-- Poner clase (activado o disable) para activar o desactivar--> 
              <a class="nav-link" href="/views/QuienesSomos.html"> <i class="fas fa-address-card"></i>   ¿Quienes somos? <span class="sr-only">(current)</span></a>
            </li>

            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-friends"></i> Miembros</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/views/miembros/general.html"><i class="fas fa-user-tie"></i> Gerencia General</a>
                  <a class="dropdown-item" href="/views/miembros/asesores.html"><i class="fas fa-user-tie"></i> Asesores</a>
                  <a class="dropdown-item" href="/views/miembros/gerencias.html"><i class="fas fa-user-tie"></i> Gerencias</a>
                  <a class="dropdown-item" href="/views/miembros/miembros.html"><i class="fas fa-users"></i> Miembros</a>
                </div>
              </li>


            <li class="nav-item">
              <a class="nav-link" href="/views/publicaciones.html"> <i class="fas fa-globe-americas"></i> Publicaciones</a>
            </li>

            
            <li class="nav-item">
                <a class="nav-link" href="/views/eventos.html"><i class="fas fa-calendar-day"></i> Eventos</a>
              </li>
            
          </ul>

          <!-- Parte del buscador--> <!-- 
          <form class="form-inline my-2 my-lg-0 mr-5" >
            <input class="form-control mr-sm-2" type="search" placeholder="¿Que buscaremos?" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
          </form> --> 

  <!-- BOTONES DE INGRESAR O REGISTRARSE--> 
  <div>
      <button type="button pd" class="btn btn-light" data-toggle="modal" data-target="#exampleModa1">Ingresar <i class="fas fa-door-open"></i>   </button>
      <button type="button" class="btn btn-info ml-2" data-toggle="modal" data-target="#exampleModa2">Registrarse <i class="fas fa-sign-in-alt"></i></button>
  </div>
        
  </div>
  </nav>
    </section>

  <!-- Este es el modal de INGRESAR-->
  <div class="modal fade" id="exampleModa1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingresar <i class="fas fa-door-open"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Estamos trabajando en ello, para que tu experiencía sea lo más acogedor posible.
        <div class="text-center"><img src="https://1.bp.blogspot.com/-FbtBa61P17E/Xy7KgugAayI/AAAAAAAACI8/K5_LFNPHUk8cb9yx8zWNNcM9WvdFwlcdgCLcBGAsYHQ/s126/Imagen-animada-Engranajes-15.gif" alt=""></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
  </div>
  <!-- Este es el modal de registrarse-->
  <div class="modal fade" id="exampleModa2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrarse <i class="fas fa-sign-in-alt"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Estamos trabajando en ello, gracias por su comprensión.
        <div class="text-center"><img src="https://1.bp.blogspot.com/-FbtBa61P17E/Xy7KgugAayI/AAAAAAAACI8/K5_LFNPHUk8cb9yx8zWNNcM9WvdFwlcdgCLcBGAsYHQ/s126/Imagen-animada-Engranajes-15.gif" alt=""></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
  </div>

  <!-- SECCION DEL EVENTO - FLYER MÁS DESCRIPCIÓN -->
  <section class="event">
    <div class="row pt-5">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <img class="event-flyer" src="https://scontent.faqp2-2.fna.fbcdn.net/v/t1.0-9/118343683_2716599531993480_5992892324734015252_o.jpg?_nc_cat=110&_nc_sid=730e14&_nc_eui2=AeE2alL3VMlf1YnrtcTfapH2foeSwCpO-Sp-h5LAKk75KpIhI6ADpb83jLjOE8vQVpDIrN7Injur2RzPbXfha3Op&_nc_ohc=2iRjSYk0u-4AX8o3up8&_nc_ht=scontent.faqp2-2.fna&oh=377bbdd9b25f47794c7b3bbd27ab7692&oe=5F683687" alt="">
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <h1 class="event-main-title pt-3"><i class="fas fa-user-graduate"></i> WORKSHOP VIRTUAL GRATUITO DE PRESUPUESTOS.PE</h1>
            <p class="event-main-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam consectetur laborum perspiciatis? Labore dolor corporis iste! Asperiores, voluptatum voluptates! Tenetur modi sint sit sunt aliquam autem obcaecati asperiores, maiores animi sequi facilis similique nostrum laborum in voluptatem recusandae, eaque corporis. Necessitatibus ad veritatis, dolore fugiat nesciunt sapiente ut consequatur voluptate obcaecati, corrupti consectetur. Explicabo hic quo enim quos a odit reprehenderit mollitia sed soluta recusandae expedita voluptatum labore culpa, laboriosam quasi, voluptas facilis distinctio esse, aliquid neque sit! Ipsa, nemo.</p>
            <br>
            <div class="event-point"><i class="fas fa-signal"></i> Temas: Presupuestos, cronograma de obra, tecnología y software.</div>
            <div class="event-point"><i class="fas fa-calendar"></i>  Fecha de Inicio: 24/08/2020 | 7:00 - 9:00 pm</div>
            <div class="event-point"><i class="fas fa-clock"></i>  Duración: +10 horas</div>
            <div class="event-point"><i class="far fa-star"></i> Via: ZOOM, Facebook live</div>   
            <br>
            <a target="_blank" class="btn btn-dark btn-event mx-auto" href="https://docs.google.com/forms/d/e/1FAIpQLSd06Jcv12YvsnX5BcHQtKy8Ey9hwxJi7DxCC939RiJ8VCZFMA/viewform" >INCRIBIRME YA!</a>
            <br>
            <h2 class="px-5 event-benefits-header">BENEFICIOS DEL CURSO</h2>
            <ol class="px-5 event-benefits">
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ol>
            <br>
            <a class="btn btn-dark btn-event mx-auto" href="/views/eventos.html" >MÁS EVENTOS</a>
            <br>
      </div>
    </div>
  </section>


    <!-- BANNER DEL CURSO -->
<!--     <section class="container-fluid pt-4 mt-3 bg-cimic">
        <div class="row">
        <div class="col-12  col-sm-12 col-md-12 col-lg-6">
            <div class="container pt-5 pb-5">
                <img style="width: 100%; height: 700px;" src="/img/curso-1.png" alt="info-curso">
            </div>
        </div>
        <div class="col-12  col-sm-12 col-md-12 col-lg-6 pt-4">
            <h2 class="text-center "><i class="fas fa-user-graduate"></i> CHARLA CIMIC!</h2>
            <h5 class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam consectetur laborum perspiciatis? Labore dolor corporis iste! Asperiores, voluptatum voluptates! Tenetur modi sint sit sunt aliquam autem obcaecati asperiores, maiores animi sequi facilis similique nostrum laborum in voluptatem recusandae, eaque corporis. Necessitatibus ad veritatis, dolore fugiat nesciunt sapiente ut consequatur voluptate obcaecati, corrupti consectetur. Explicabo hic quo enim quos a odit reprehenderit mollitia sed soluta recusandae expedita voluptatum labore culpa, laboriosam quasi, voluptas facilis distinctio esse, aliquid neque sit! Ipsa, nemo.</h3>
            <br>
            <div style="padding: 5px;"><i class="fas fa-signal"></i> Nivel: básico</div>
            <div style="padding: 5px;"><i class="fas fa-calendar"></i>  Fecha de Inicio: 19 de jun.</div>
            <div style="padding: 5px;"><i class="fas fa-clock"></i>  Duración: +4 horas</div>
            <div style="padding: 5px;"><i class="far fa-star"></i> Calificación: Buena</div>   
            <br>
            <a target="_blank" class="btn btn-dark stretched-link bg-footer" href="https://docs.google.com/forms/d/EExK4SbxGNaEu8cyFRm9qvkkBaAeUsho9hcpjAalCIM/edit#responses" > <b>INCRIBIRME AL CURSO</b></a>
            <br>
            <br>
        </div>
        </div>
    </section>
 -->
    <!-- INFORMACIÓN DEL CURSO -->
    <!-- <section class="bg-curso-info  text-white pt-4 " style="text-align: justify;">
      <div class="container-fluid bg-overlay-curso">
      <div class="row"> -->
        <!-- QUE LOGRARAS CON EL CURSO -->
        <!-- <div class="col-lg-9 col-sm-12">
          <div class="container p-4">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quaerat ullam et quam velit quidem eum at ex recusandae veniam ratione enim minus facere perferendis, incidunt sunt corporis hic excepturi officiis, totam eos. Assumenda eos fuga delectus asperiores praesentium possimus consequatur tenetur at ipsum eum error dicta doloribus nulla, pariatur officia accusamus. Ex asperiores id veniam eum, debitis deleniti optio vel nostrum minus quo natus perferendis aliquid cupiditate maiores et dolorum minima, fugiat quas voluptate odit. Aut magnam debitis impedit praesentium quos, aliquam, assumenda expedita harum porro ipsam nobis? Vel error nesciunt asperiores tenetur, cumque voluptas laboriosam harum fugiat temporibus!</p>
          </div>
          <div class="container-fluid">
          <div class="container float-left" style="width: 100%; text-align: left;">
            
            <h4><b>¿Que aprenderas en el curso?</b></h4>
            <ul>
              <li>Lorem ipsum dolor sit amet.</li>
              <li>Lorem ipsum dolor sit amet.</li>
              <li>Lorem ipsum dolor sit amet.</li>
              <li>Lorem ipsum dolor sit amet.</li>
              <li>Lorem ipsum dolor sit amet.</li>
            </ul>
          </div>
          <div class="container float-left" style="width: 100%;">
            <h4><b>¿Que conocimientos previos necesitas?</b></h3>
              <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
              </ul>
          </div>
        </div>
      </div> -->
        <!-- QUIEN DICTA EL CURSO - información de contacto -->
        <!-- <div class="col-lg-3 col-sm-12" style="clear: both;">
          <div class="container">
            <div class="card" style="width: 90%;">
              <img class="card-img-top" src="/img/ponente-eddison.PNG" alt="Card image" style="width:100%; height: 320px;">
              <div class="card-body bg-footer">
                <h4 style="text-align: center;" class="card-title">EDDISON ESCOBEDO HUAMAN</h4>
                <p class="card-text text-black">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam illum libero vitae mollitia quae nobis, deserunt vero facere alias sit.</p>
                <div class="container">
                    <div style="width: 45px;" class="float-left"><a href=""><i class="fas fa-phone-square-alt"></i></a></div>
                    <div style="width: 45px;" class="float-left"><a href=""><i class="fas fa-envelope"></i></a></div>
                    <div style="width: 45px;" class="float-left"><a href=""><i class="fab fa-facebook-square" aria-hidden="true"></i>
                    </a></div>
                  </div> 
                  
                
                
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>      
      </div>
    </section> -->

    <!--Esto es el footer-->
    <footer  class="bg-footer py-2 container-fluid" > <!--Esto me hizo sufris, ocurria un error XD :v-->
    
        <div class="row">
    
          <div class="col-12  col-sm-12 col-md-6 col-lg-3">
            <div class="text-center mb-4"><img src="/img/logo2.png" alt=""></div>
          </div>
    
          <div class="col-12  col-sm-12 col-md-6 col-lg-3">
          <div class="text-center">
            <h3 class=" h5">Déjanos tu Comentario</h3>
            <!--Envíanos tu Comentario-->
            <form action="text" class="mx-3">
                <input class="form-control mr-sm-2 my-2" type="text" placeholder="Nombres" aria-label="Search">
                <input class="form-control mr-sm-2 my-2" type="email" placeholder="Correo Electrónico" aria-label="Search">
                <input class="form-control mr-sm-2 my-2" type="tel" placeholder="Telefono / Celular" aria-label="Search">
                <textarea class="form-control mr-sm-2 my-2" type="text" placeholder="Escribe tu Comentario" aria-label="Search" cols="20" rows="6"></textarea>
                <p class="text-left "> <button  type="button" class="btn btn-light font-weight-bold " id=""> ENVIAR </button>  
            </form> </p>
          </div>
          </div>
    
          <div class="col-12 col-sm-6 col-md-6 col-lg-3">
          <div class="pl-3">
            <h3 class="text-center h5">Enlaces rápidos</h3>
            <p> <a href="https://web.facebook.com/CIMIC.EPIC"><i class="fab fa-facebook-square"></i> Facebook</a></p>
            <p><i class="fab fa-youtube-square"></i> You Tube</p>
            <p><i class="fab fa-whatsapp-square"></i> Grupo de Whatsapp</p>
          </div>
          </div>
    
        
          <div class="col-12 col-sm-6 col-md-6 col-lg-3">
          <div class="pl-3">
            <h3 class="text-center h5" >Información de contacto</h3>
            <p> <i class="fas fa-phone-square-alt"></i> +51 974514178</p>
            <p> <i class="fas fa-envelope"></i> cimic.epic@gmail.com</p>
          </div>
          </div>
    
        </div>
    
    <div >
        <p class="text-center">Todos los Derechos Reservados <i class="fas fa-copyright"></i> CIMIC</p>
    </div>
    
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>  
</body>
</html>